#player-card-container {
  background: @color-grey;
  color: @color-grey;
  width: 300px;
  height: 350px;
  margin: 10px 3px 5px 10px;
  border: 1px solid @color-blue-grey;
  z-index: 10;

  .header {
    background-color: @color-grey-light;
    height: 115px;
  }//.header

  .body {
    background-color: @color-white;
    height: 235px;
  }//.body

  .view-profile{
    margin-bottom: 0px;
    font-size: 25px;
    width: 100%;
    background-color: @color-white;
    color: @color-grey-light;
    border: 1px solid @color-grey-light;
    height: 35px;
    }//.view-profile
}//#player-card-container