<!DOCTYPE html>
<html>
  <% include ../ui/header %>
  <body id="forgot-pwd">
    <% include ../ui/top_menu %>
    <div class="content-wrapper">
      <input id="email" class="email" type="text" placeholder="email">
      <button class="submit uk-button">Reset password</button>
    </div>
    <% include ../ui/login/signup_signin_modal %>
  </body>
</html>