.footer-wrapper{
	height: 330px;
	background-color: @color-grey-8;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.footer-text {
		color: @color-white;
		text-decoration: none;
		text-transform: uppercase;
		margin-right: 10px;
		margin-left: 10px;
		font-size: 12px;
	}

	.company-title {
		color: @color-white;
		font-size: 9px;
	}

	.content-container {
		margin-top: 59px;
		margin-bottom: 36px;

	}

	.socials-container {
		margin-bottom: 38px;

		.social-link {
			margin-right: 20px;
		}

		.twitter {
			margin-right: 0;
		}
	}

	.company-title {
	}
}

@media @mq-mobiles {
	.footer-wrapper {
		.footer-text {
			margin-bottom: 15px;
		}
		.content-container {
			display: flex;
    	flex-direction: column;
    	justify-content: end;
    	align-items: center;
		}
	}
}
