html {
  font-family: 'Proxima Nova' !important;
  background: @color-grey !important;
  min-width: 345px;
}

body {
  margin: 0;
  background-color: @color-white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

div {

}

p {
  font-size: 14px;
}

label {
  font-size: 20px;
}

li {
  font-size: 14px;
}

input {
  outline: none;
  letter-spacing: 1px;
  &:hover {
    cursor: pointer;
  }
}

.uk-form-danger, .uk-form-danger:focus {
  color: #f0506e !important;
  border-color: #f0506e !important;
}

button {
  border-width: 2px;
  border-radius: 0;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.input-error-msg {
  color: @color-error;
}

textarea::-webkit-input-placeholder {
color: @color-grey-3;
}


.hidden {
  position: absolute;
}

.line-break {
  border: 1px solid #E5E5E5;
  width: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px
}

.common-table-header-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  .selector {
    z-index: 1;
    color: @color-white;
    font-size: 14px;
    height: 25px;
    text-decoration: none;
  }
  .selected {
    border-bottom: 2px solid @color-red-2;
  }
}