html {
  font-family: 'Proxima Nova Alt' !important;
  background: @color-grey !important;
  min-width: 345px;
}

body {
  margin: 0;
  background-color: @color-white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

.proxima {
  font-family: 'Proxima Nova';
}

.proxima-alt {
  font-family: 'Proxima Nova Alt';
}

div {

}

p {
  font-size: 14px;
}

label {
  font-size: 20px;
}

li {
  font-size: 14px;
}

input {
  outline: none;
  letter-spacing: 1px;
  &:hover {
    cursor: pointer;
  }
}

.dropdown {
  position: relative;
}

// override uk-dropdown to custom our own
.uk-dropdown {
  background-color: @color-grey-dark-4!important;
  color: @color-white!important;
  border: 1px solid @color-white!important;
  padding: 0!important;
}

.uk-dropdown-nav {
  font-size: 12px!important;
  text-align: center!important;
  padding: 3px 4px 3px 4px!important;
  transition: background-color ease 0.5s!important;
  display: flex;
  a {
    width: 100%;
    color: @color-white;
    transition: color ease 0.5s!important;
    &:hover {
      text-decoration: none;
      color: @color-grey-dark-4;
    }
  }
  &:hover {
    background-color: @color-blue-grey-light-5!important;
    cursor: pointer!important;
  }
}

.bold {
  font-weight: bold;
}

.radius-6 {
  border-radius: 6px;
}

.uk-form-danger, .uk-form-danger:focus {
  color: #f0506e !important;
  border-color: #f0506e !important;
}

button {
  border-width: 2px;
  border-radius: 0;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.input-error-msg {
  color: @color-error;
}

textarea::-webkit-input-placeholder {
color: @color-grey-3;
}


.hidden {
  position: absolute;
}

.line-break {
  border: 1px solid #E5E5E5;
  width: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px
}

.bold {
  font-weight: bold!important;
}

.black {
  font-weight: 900!important;
}

.common-table-header-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  .selector {
    z-index: 1;
    color: @color-white;
    font-size: 14px;
    height: 25px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-weight: 100;
  }
  .selected {
    border-bottom: 2px solid @color-red-2;
    font-weight: bold;
  }
}

.uk-button {
  position: relative;

  &.disabled {
    opacity: 0.5;
    cursor: default!important;
  }
}

.checkbox {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 13px;
  height: 13px;
  border-radius: 20px;
  border: solid 1px @color-grey-5;

  &.selected {
    background-color: @color-green;
    .check {
        background-image: url('/static/images/check2.svg');
        width: 9px;
        height: 7px;
        position: absolute;
        top: 3px;
        left: 2px;
      }
  }
}