html {
  font-family: 'Lemonada', cursive;
  background: @color-grey !important;
}

* {
  color: @color-white;
}

body {
  margin: 0;
  background-color: @color-white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

div {

}

p {
  font-size: 20px;
}

label {
  font-size: 20px;
}

input {
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

button {
  border-width: 2px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}