// Var
@HEADER_HEIGHT: 30px;

// Colors
@color-blue: #00BCD4;

@color-blue-light: #314A61;

@color-white: #ffffff;

@color-black: #000000;

@color-grey: #2B303A;

@color-grey-2: #4E5156;

@color-grey-3: #9C9C9D;

@color-grey-4: #6E6E6E;

@color-grey-dark: #1F232B;

@color-grey-dark-2: #273043;

@color-grey-dark-3: #44484D;

@color-grey-dark-4: #242832;

@color-grey-light: #F4F4F4;

@color-grey-light-2: #858585;

@color-grey-light-3: #d3d3d3;

@color-grey-light-4: #9F9F9F;

@color-grey-light-5: #A5A2A2;

@color-grey-light-6: #D8D8D8;

@color-blue-grey-light-5: #E4E4E4;

@color-blue-grey: #CDDDDD;

@color-blue-twitter: #2AA3EF;

@color-blue-facebook: #3C5A96;

@color-blue-medium: #358ED7;

@color-blue-dark-1: #1F232D;

@color-beige: #F3EFEF;

@color-red: #FC4E51;

@color-red-2: #FF4C4C;

@color-red-dark: #55353D;

@color-error: #EE5270;

@img-path: '/static/images/';
@svg-path: '/static/svgs/';

// tablet
@mq-tablets: ~"only screen and (min-width: 768px) and (max-width: 1290px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1290px)";
@mq-tablets-portrait:  ~"only screen and (min-width: 768px) and (max-width: 1290px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)";
@mq-tablets-landscape: ~"only screen and (min-width: 768px) and (max-width: 1290px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)";

// mobile
@mq-mobiles: ~"only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px)";
