<div class="search-page-banner">
  <div class="loading-div" ng-model="loading" ng-hide="loading"><img class="loading" ng-src="img/loading.gif" alt="loading gif"/></div>
  <div class="container" enter-search>
    <div class="col-sm-12">
      <div class="col-sm-6">
        <select class="form-control">
          <option>League of Legends</option>
        </select>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Gamertag" ng-model="search.text" ng-model-options="{ debounce: 800 }"></input>
          <span class="input-group-btn">
          <button class="btn btn-primary btn" ng-click="doSearch()" href="#/gamers">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-top:80px;"> </div>
<div class="container">

  <!-- list view: -->
  <ul style="padding: 0px;" ng-repeat = 'player in players |  filter:query | orderBy:orderProp'>
    <a href="#/gamers/{{player._id}}">
      <div class="col-sm-12">
        <div class="row">
      <div class="game-platform-tag">
        <span>{{player.platform}}</span></div></div></div>


      <div class="col-sm-12 gamerListResult">
        <div class="col-sm-1" style="margin-top:10px;" class="gamerListProfile">
          <img ng-model="profile_picture" ng-src="{{player.profile_picture}}" class="gamerListAvatar"></img>
          </div>
      <div class="row" style="margin-top: 30px;">
      <div class="col-sm-4" class="listPlayerName">
        <h4 style="margin-left:10px;"class="player-gamertag-list">{{player.gamertag}}</h4>
      </div>

        <div class="col-sm-3"style="margin-top: 10px;">
         <p>
          <span class="label label-default">{{player.top_tags[0]}}</span> 
          <span class="label label-default">{{player.top_tags[1]}}</span>
          <span class="label label-default">{{player.top_tags[2]}}</span> 
          <!--
          <span class="label label-default">test</span> 
          <span class="label label-default">test</span>
          <span class="label label-default">test</span>
          -->
        </p>
        </div>


        <div class="col-sm-3" style="margin-top:10px;margin-left:60px;">
      

               <p>
          <span class="label label-info">{{player.rep_review_count}} Rep(s)</span> 
          <span class="label label-primary">{{player.flame_review_count}} Flame(s)</span>
        </p>
      </div>


      </div>
      </div>
    </a>
  </ul>
</div>


<!--

<div class="container">

  <ul style="padding: 0px;" ng-repeat = 'player in players |  filter:query | orderBy:orderProp'>
    <a href="#/gamers/{{player._id}}">
      <div class="col-sm-12 well">
        <div class="col-sm-3">
          <img ng-model="profile_picture" ng-src="{{player.profile_picture}}" style="width: 120px; height: 120px; background-color: white; border-radius: 50%;"></img>
        </div>
        <h4 class="">{{player.gamertag}}</h4>
        <h6 class="">{{player.platform}}</h6>
        <h6> {{player.game}}</h6>
        <p>
          <span class="label label-info">{{player.rep_review_count}} Rep(s)</span> 
          <span class="label label-primary">{{player.flame_review_count}} Flame(s)</span>
        </p>
        <p>
          <span class="label label-default">{{player.top_tags[0]}}</span> 
          <span class="label label-default">{{player.top_tags[1]}}</span>
          <span class="label label-default">{{player.top_tags[2]}}</span>
        </p>
      </div>
    </a>
  </ul>
</div>

-->