  <div class="profile-banner">
    <div class="container">
      <!-- floating buttons 
        <div class="col-sm-12" style="text-align: right;">
                 <a type="button" ng-click="tab = 2" class="btn btn-default">Write a Review </a>
            <div class="btn-group">
                  <a href="" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Share <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                  </ul>
                </div>
                  </div>

            -->
<!-- profile pic, gamertag, details -->
    <div class="row">
        <div class="col-sm-12" style="margin-top: 150px;">
          <div class="box">
            <div style="width: 50%;">
            <img class="gamerAvatar"></img>
            </div>
              <div style="width: 40%;">
             <h3 class="gamerTagTitle" class="media-heading">{{profile.gamertag}}</h3>
            <span>
            <p class="game">{{profile.game}} || </p>
            <p class="plat">{{profile.platform}}</p>
          </span>
              </div>
          </div>
          <div class="repsNflames">
              <div class="row">
                <div class="col-sm-6 rep-box">
                  <div class="row">
                  <span class="rf-boxcount">{{profile.rep_review_count}}</span>
                     </div>
                  <div class="row">
                  <span class="rf-boxlabel">Reps</span>
                   </div> 
                </div>
                <div class="col-sm-6 flame-box">
                  <div class="row">
                 <span class="rf-boxcount">{{profile.flame_review_count}}</span>
                  </div>
                  <div class="row">
                  <span class="rf-boxlabel">Flames</span>
                   </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

<!-- begin profile views (reviews list, reviewform) -->


<!-- tabs for the various views -->
<div style="background-color: #fafafa;">
<div class="container">
  <ul class="nav nav-tabs" ng-init="tab = 1">
      <li class="btn btn-link" ng-class="{active:tab===1}"> 
          <a href ng-click="tab = 1">Reviews</a> 
      </li>
      <li class="btn btn-link" ng-class="{active:tab===2}"> 
          <a href ng-click="tab = 2">Write a Review</a> 
      </li>
  </ul> 
</div>
</div>
<br>
<!-- tab views -->
<div ng-show="tab === 1" ng-include="'partials/reviewsList.html'"></div>
<div ng-show="tab === 2" ng-include="'partials/gamerReview.html'"></div>



