<!-- review panel header -->
<div class="container">
   <div class="row">
      <div class="col-sm-12" contenteditable="false" style="">
         <div class="panel panel-default">
            <div class="panel-heading">
               <div layout="row">
                  <div class="col-sm-4" style="padding-left: 0px;">
                     <h4> Reviews </h4>
                  </div>
                  <div class="col-sm-12" style="text-align:right;">
                     <div class="col-sm-6">
                        <select class="form-control">
                           <option>Sort by date (newest to oldest)</option>
                        </select>
                     </div>
                     <div class="col-sm-6" style="text-align:right;">
                        <div class="input-group">
                           <input type="text" class="form-control" placeholder="Search reviews" ng-model="search" ng-model-options="{ debounce: 800 }">
                           <span class="input-group-btn">
                           <button class="btn btn-default btn-sm" type="submit">
                           <i class="material-icons">search</i>
                           </span>
                           </input>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

    




<!-- Display when review comments == 0  -->
<div class="panel-body" ng-if="!profile.review_count">
   <div class="col-sm-12" id="noReviews">There are no reviews for this gamer. <a class="writeReviewTxt"> Write a review.</a></div>
</div> 
<!-- review panel body -->
                <div class="panel-body" ng-repeat="review in profile.reviews">
                  <div class="row" style="height: auto; min-height:160px;"> 
                  <!-- reviews -->
                    <div class="col-sm-12" id="reviewsExist">
                        <div class="gamer-review">
                              <div class="review-details col-sm-2">
                                    <div ng-if='review.review_type == "REP"'>
                                        <p><span class="label label-info">{{review.review_type}}</span></p>
                                    </div>
                                    <div ng-if='review.review_type == "FLAME"'>
                                        <p><span class="label label-primary">{{review.review_type}}</span></p>
                                    </div>
                                    <div>
                                          <span class="">{{review.date | date : 'MM/dd/yyyy'}}</span> 
                                    </div>
                              </div>
                              <div class="review-contents col-sm-10">
                                    <div class="review-comment">
                                      <p>
                                        {{review.comment}}
                                      </p>
                                    </div>
                                    <div class="review-tags">
                                      <span class="label label-default" ng-repeat='tag in review.tags'>{{tag.name}}</span>
                                    </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>


<!-- review panel footer -->
<div class="panel-footer" style="text-align:center;">
      <ul class="pagination">
        <li class="disabled"><a href="">&laquo;</a></li>
          <li class="active"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li><a href="">&raquo;</a></li>
      </ul>
</div>
</div>