<!-- forgot pwd modal -->
<div id="forgot-pwd-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body modal-body">
    <button id="forgot-pwd-modal-close" class="uk-modal-close-default" type="button" uk-close></button>
    <a uk-toggle="target: #signup-signin-modal" class="back" href="#">< BACK</a>
    <div class="modal-content">
      <section class="forgot-pwd">
       <span class="uk-text-large title">RESET PASSWORD</span>
       <span class="uk-text-small subtitle">Enter your email address and we'll send a link to reset your password</span>
      <div class="input-container">
        <input id="input-email" class="forgot-pwd-email uk-input" type="text" placeholder="email">
        <span class="uk-text-danger uk-text-small input-error-msg" id="error-msg"></span>
        <span class="email-icon" uk-icon="icon: mail"></span>
      </div>
      <button class="submit uk-button-default uk-button-large"><span class="uk-text-uppercase submit-text">Reset password</span></button>
      </section>
    </div>
  </div>
</div>