<!-- profile setup modal -->
<div id="profile-setup-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body modal-body">
    <button id="profile-setup-modal-close" class="uk-modal-close-default" type="button" uk-close></button>
        <div class="modal-content">
          <h5>PROFILE SETUP</h5>
          <div class="display-name-container">
            <p class="small-text">Other gamers will see your display name.</p>
            <p class="small-text">Must be unique, 6 characters, without special characters.</p>
            <div class="input-container">
              <input />
              <span uk-icon="icon: user"></span>
            </div>
          </div>
          <button class="uk-button uk-button-default uk-background-default" id="profil-setup-submit">FINISH SETUP</button>
        </div>
  </div>
</div>