<div class="filters">
  <div class="sort-container">
    <img class='sort-icn' src='/static/images/sort.svg' />
    <span>SORT</span>
  </div>
  <div class="filter-container">
    <img class='filter-icn' src='/static/images/filter.svg' />
    <span>FILTER</span>
  </div>
</div>