<div class="review-pagination-container">
  <div class="items-container">
    <div class="dropdown-btn">
      <div class="items-number">5</div>
      <img class="items-icn" src="/static/images/arrow-small-down.svg"/>
    </div>
    <div uk-dropdown="mode: click" class="dropdown-list">
      <ul class="uk-nav uk-dropdown-nav 5"><a href="#">5</a></ul>
      <ul class="uk-nav uk-dropdown-nav 10"><a href="#">10</a></ul>
      <ul class="uk-nav uk-dropdown-nav 15"><a href="#">15</a></ul>
      <ul class="uk-nav uk-dropdown-nav 20"><a href="#">20</a></ul>
    </div>
    <span class="title">Items per page</span>
  </div>
  <div class="page-selectior-container">
    <button class="previous-page next-previous-button">
      <img src="/static/images/angle-left.svg"/>
    </button>
    <span class="page-lbl">page</span>
    <input class="current-page" value="1"/>
    <div class="total-pages">/4</div>
    <button class="next-page next-previous-button">
      <img src="/static/images/angle-right.svg" />
    </button>
  </div>
</div>