#lol-leagues-section {
  display: none;
  .leagues-container {
    width: 932px;
    padding: 15px;
    .leagues-name-table-header-selector {
      justify-content: flex-start;
      .league-name {
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 14px;
        color: @color-white;
      }
    }
    .league-tier-table-header-selector {
      justify-content: center;
      margin-top: 18px;
      .leagues-number {
        font-size: 14px;
        font-weight: bold;
        width: 12px;
        margin-right: 11px;
        text-align: center;
      }
    }
    .league-name-title {
      font-size: 14px;
      color: @color-white;
      text-transform: uppercase;
      margin-top: 30px;
      text-align: center;
      font-weight: 500;
    }
    .leagues-data-header {
      margin-top: 31px;
      padding-bottom: 12px;
      border-bottom: solid 1px @color-grey;
      display: flex;
      align-items: center;
      justify-content: center;
      .leagues-data-header-title {
        text-transform: uppercase;
        color: @color-white;
        font-size: 12px;
        flex-grow: 1;
        margin-left: 67px;
      }
    }
    .leagues-data-container {
      .leagues-summoner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 313px;
      }

      .leagues-data-row {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid @color-grey;
        .leagues-data-cell {
          color: @color-white;
          font-size: 14px;
        }
        .rank-data {
          width: 20px;
          color: @color-white;
          margin-right: 15px;
          margin-left: 5px;
        }

        .icon-data {
          width: 18px;
          height: 18px;
          border-radius: 12px;
          margin-right: 10px;
        }

        .summoner-data {
          font-weight: bold;
          width: 243px;
          cursor: pointer;
          transition: color ease 0.5s;

          &:hover {
            color: @color-red;
            text-decoration: none;
          }
        }

        .winrate-data {
          width: 231px;
        }

        .league-points-data {
          display: flex;
          width: 266px;
          .league-points-label {
            display: none;
          }
        }

        .progress-data {
          width: 130px;
          .leagues-progress-icon {
            width: 11px;
            height: 11px;
            margin-right: 10px;
          }
        }
      }

      .last-data-row {
        border: none;
      }
    }
    .no-leagues-data-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 550px;
      .no-data-icon {
        margin-top: 80px;
        margin-bottom: 30px;
      }
      .no-data-title {
        font-size: 14px;
        color: @color-grey-light-5;
      }
    }
  }

  @media @mq-mobiles {
    .leagues-container {
      width: 314px;
      padding: 15px;
      .leagues-data-header-title {
        display: none;
      }
    }

    .no-data-title {
      text-align: center;
    }

    .leagues-data-container {
      .leagues-data-row {
        flex-direction: column;
        height: 98px!important;
        padding-top: 10px;

        .winrate-data {
          width: 189px!important;
        }

        .leagues-summoner-container {
          justify-content: flex-start;
        }

        .league-points-data {
          width: 187px!important;
          .league-points-label {
            display: flex!important;
            margin-left: 4px;
          }
        }

        .progress-data {
          width: 186px!important;
        }

        .rank-data {
          margin-right: 15px!important;
        }

        .icon-data {
          margin-right: 5px!important;
        }
      }
    }

    .no-leagues-data-container {
      height: 400px!important;
    }
  }
}