#review-modal, #attributes-modal {
  color: @color-white;

  .modal-body {
    width: 320px;
    min-height: 650px;
    background-color: @color-grey;
    padding-left: 25px;
    padding-right: 25px;
  }

  .modal-title {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: @color-white;
    margin-bottom: 41px;
  }

  .review-type-title, .review-title {
    text-transform: uppercase;
    font-size: 11px;
  }

  .review-title {
    margin-top: 26px;
  }

  p {
    margin: 5px 0 5px 0;
  }// p

  .thumb-icon {
    width: 20px;
    height: 20px;
  }
  .review-type-container {
    display: flex;
    justify-content: center;
  }// .review-type-container

  .review-select-btn {
    width: 133px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.selected {
      border: solid 1px @color-green;
    }
  }

  .up-button {
    margin: 0 4px 0 0;
    background-color: rgba(39, 65, 128, 0.1);

    .text {
      color: @color-white;
      height: 20px;
    }// .text
  }// .up-button

  .down-button {
    background-color: rgba(128, 39, 39, 0.1);

    .text {
      color: @color-white;
      height: 20px;
    }// .text
  }// .down-button

  .tags-dropdown-container {
    width: 100%;

    .dropdown-button {
      width: 100%;
      height: 60px;
    }// .dropdown-button
  }// .tags-dropdown-container

  .tag-label {
    font-size: 12px;
  }// .tag-label

  .tag-checkbox {
    margin-right: 12px;
  }// .tag-checkbox

  .dropdown-icon {
    position: absolute;
    right: 13px;
    top: 16px;
  }// .dropdown-icon

  .tags-dropdown {
    padding-left: 0;
  }// .tags-dropdown

  .tags-list {
    position: absolute;
    top: 10px;
    left: 35px;
  }// .tags-list

  .tag {
    margin: 0 10px 0 0;
    font-size: 10px;
    padding: 0px 7px 0 13px;
    background-color: @color-beige;

    .text {
      margin: 0 5px 0 0;
    }// .text
  }// .tag

  .list-elem {
    list-style-type: none;
  }// .list-elem

  .tags-textarea {
    width: 270px;
    height: 300px;
    padding: 8px;
    font-size: 12px;
    background-color: @color-grey;
    color: @color-grey-6;
    resize: none;
  }// .tags-textarea

  .review-remaining {
    margin: 5px 0 0 0;
    font-size: 10px;
    color: @color-blue-grey-light-5;
  }// .review-remaining

  .submit {
    width: 300px;
    height: 50px;
    background-color: @color-red;
    border: none;
    color: @color-white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 16px 0 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
  }// .submit
}// #review-modal

#attributes-modal {
  .back-btn {
    color: @color-blue-medium;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: 7px;
    left: 8px;
    cursor: pointer;
  }

  .attributes-container {
    .row {
      display: flex;
      margin-bottom: 4px;
    }

    .attr-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .attr-icn {
        width: 40px;
        height: 40px;
      }

      .attr-name {
        font-size: 11px;
        text-transform: uppercase;
        width: 132px;
        height: 12px;
        color: @color-white;
        font-weight: bold;
        line-height: 1;
        margin-top: 3px;
      }
    }

    .left {
      margin-right: 3px;
    }

    .separator {
      margin-top: 28px;
    }

    .good, .neutral, .bad {
      justify-content: center;
    }

    .good {
      background-color: rgba(39, 65, 128, 0.1);
    }

    .neutral {
      background-color: rgba(128, 123, 39, 0.1);
    }

    .bad {
      background-color: rgba(128, 39, 39, 0.1);
    }
  }
}