.card {
  width: 314px;
  min-height: 160px;
  background-color: @color-grey-dark-4;
  margin: 0 5px 10px 5px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.58);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.58);
  // padding: 15px;

  &.shrink {
    max-height: 160px;
  }

  .title {
    color: @color-white;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    text-transform: uppercase;

    &.solo {
      margin-bottom: 12px;
    }
  }

  .card-body {
    width: 284px;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
}

#lol-summary-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  .first-row {
    display: flex;
  }

  .second-row {
    display: flex;;
  }

  .subtitle {
    color: @color-blue-grey-light-5;
    font-size: 9px;
    padding: 5px 0 22px 0;
  }
}

.reviews {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 420px;
  background-color: @color-grey-dark-4;
  margin: 0 5px 10px 5px;
  padding: 15px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.58);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.58);
  flex-direction: column;
  .title {
    color: @color-white;
    font-size: 14px;
    text-transform: uppercase;
  }
  .actions {
    display: flex;
    position: relative;
    .filters {
      width: 137px;
      height: 25px;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .sort-container, .filter-container {
        width: 66px;
        height: 23px;
        border: 1px solid @color-white;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @color-white;
        cursor: pointer;
        background-color: rgba(165, 162, 162, 0.1);
      }

      .disabled {
        border-color: @color-grey-light-5;
        color: @color-grey-light-5;
        cursor: default;
      }

      .sort-container {
        margin-right: 5px;
      }

      .sort-icn, .filter-icn {
        margin-right: 6px;
      }
    }
  }
  .review-btn {
    font-size: 11px;
    text-transform: uppercase;
    height: 25px;
    color: @color-white;
    background-color: @color-red;
    border: none;
    padding: 0px 12px 0 12px;
    margin-bottom: 30px;
  }

  .reviewed-btn {
    background-color: @color-red-2;
    opacity: 0.47;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviewed-check {
    margin-right: 5px;
  }

  .review-pagination-container {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: @color-blue-dark-1;
    position: absolute;
    bottom: 0;
    left: 0;

    .items-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;

      .dropdown-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 21px;
        border: 1px solid @color-blue-grey-light-5;
        cursor: pointer;

        .items-number {
          font-size: 11px;
          color: @color-blue-grey-light-5;
        }

        .items-icn {
          margin-left: 5px;
        }
      }

      .dropdown-list {
        min-width: 30px!important;
        margin-top: 10px;

        .review-number-nav {
          width: 30px!important;
          padding: 0!important;
          margin: 0;
        }
      }

      .title {
        font-size: 11px;
        text-transform: lowercase;
        margin-left: 5px;
      }
    }

    .page-selector-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      color: @color-blue-grey-light-5;

      .page-lbl {
        font-size: 11px;
        height: 19px;
        margin-right: 5px;
        color: @color-blue-grey-light-5;
      }

      .current-page {
        width: 29px;
        height: 21px;
        background-color: transparent;
        border: solid 1px @color-blue-grey-light-5;
        margin-right: 5px;
        color: @color-blue-grey-light-5;
        text-align: center;
      }

      .total-pages {
        font-size: 11px;
      }

      .previous-page {
        margin-right: 9px;
      }

      .next-page {
        margin-right: 15px;
        margin-left: 9px;
      }

      .next-previous-button {
        background-color: transparent;
        border: none;
      }
    }
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    .no-review-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .l1 {
        font-size: 24px;
        margin-top: 80px;
      }
      .l2 {
        margin-top: 21px;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: bold;
        color: @color-grey-light-5;
      }
      .l3 {
        font-size: 12px;
        width: 291px;
        text-align: center;
        color: @color-grey-light-5;
        .review-link {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .review-container {
      margin-bottom: 35px;
      .header {
        display: flex;
        position: relative;
        .reviewer-img {
          width: 30px;
          height: 30px;
          background-image: url('/static/images/reviewer.svg');
          margin-right: 5px;
          border-radius: 25px;
        }
        .infos {
          .gamertag {
            font-size: 12px;
            color: @color-white;
          }
          .reviewed-at {
            font-size: 10px;
            color: @color-white;
            text-transform: uppercase;
          }
        }
        .more-alt {
          width: 14px;
          height: 11px;
          background-image: url('/static/images/more-alt.svg');
          background-color: transparent;
          background-repeat: no-repeat;
          background-position-y: 4px;
          border: none;
          position: absolute;
          right: 0;
        }
      }
      .tags {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .tag-name, .tag-separator {
          color: @color-grey-light-5;
          font-size: 12px;
        }
  
        .tag-separator {
          margin-right: 6px;
          margin-left: 6px;
          font-weight: bold;
        }

        .thumbs {
          width: 14px;
          height: 14px;
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 6px;
        }
        .up {
          background-image: url('/static/images/thumb-up.svg');
        }
        .down {
          background-image: url('/static/images/thumb-down.svg');
        }
        .thumb-desc {
          color: white;
          font-size: 12px;
          font-weight: bold;
        }
      }
      .review-body {
        margin-top: 5px;
        font-size: 12px;
        color: @color-blue-grey-light-5;
        width: 600px;
      }
    }
  }
}

@media @mq-mobiles {
  .first-row {
    flex-direction: column;
    align-items: center;
  }
  .second-row {
    flex-direction: column;
  }

  .reviews {
    width: 285px;
    .reviews-list {
      .review-container {
        .review-body {
          width: 100%;
        }
      }
    }
  }
}