.content-wrapper{
		background: none;
	.player-not-found-wrapper{
		width: 100%;
		height: 1000px;
		background-color: @color-white;

		.player-not-found-text1{
			font-size: 24px;
			color: @color-grey;
			text-align: center;
			margin-top: 40px;
		}//.player-not-found-text1
		.player-not-found-text2{
			font-size: 14px;
			color: @color-grey;
			text-align: center;
			margin-top: 10px;
		}//.player-not-found-text2
		.player-not-found-text2p2{
			font-size: 14px;
			color: @color-grey;
			text-align: center;
			margin-top: -15px;
		}//.player-not-found-text2
		p span {
			display: block;
		}
		.closest-matches-text{
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			margin-top: 25px;
			color: @color-grey-3;
		}
		#similar-results{
			left: 50%;
			margin-left: -194px;
			width: 368px;
			text-align: center;
		}
	}//.player-not-found-wrapper
}