<head>
	<title><%= title %></title>
  <link rel='stylesheet' href='/static/bundle.css' />
  <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
</head>