<div id="main-image">
	<div id="search-bar-wrapper">
		<div id="search-container">
			<select id="platform-selector">
				<option value="lol">League of Legends</option>
				<option value="steam">Steam</option>
			</select>
			<input id="GamerTag" placeholder="GamerID">
			<button id="search-button">Search</button>
		</div>

	</div>
</div>