<table id="profile-card-table-layout">
	<tr id="profile-avatar-row">
		<td id="profile-avatar-cell">
			<div id="profile-avatar">
			</div>
		</td>
	</tr>
	<tr id="player-name-row">
		<td id="player-name-cell">{{player name}}</td>
	</tr>
</table>
<table id="card-player-approval">
		<tr>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>Approvals</td>
			<td>Disapprovals</td>
	</tr>
</table>
<span id="card-player-tags">
		<button>{{ tag }}</button>
		<button>{{ tag }}</button>
		<button>{{ tag }}</button>
</span>