<div id="recent-reviews">
	<div id="rr-title">
		<label id="review-title">Recent Reviews</label>
	</div>
	<div id="review-container">
		<table id="review-layout">
			<tr id="review-row">
				<td id="player-avatar-container">
					<div id="player-avatar"></div>
				</td>
				<td id="player-details">
					<ul>{{ gamertag }}</ul>
					<ul>{{ location }}</ul>
					<ul>{{ platform }}</ul>

				</td>
				<td id="player-reviews">				
					<span id="tag-list">
						<button>{{ tag }}</button>
						<button>{{ tag }}</button>
						<button>{{ tag }}</button>
						<button>{{ tag }}</button>
					</span>
					<p>{{review}}</p>
				</td>


			</tr>
		</table>
	</div>
</div>