<div id="player-card">
	<div id="top-background">
		<label id="card-platform-label">{{platform}}</label>
	</div>
	<div id="card-player-avatar">
	</div>
	<div id="card-playername">
		<a id="name-anchor">{{playername}}<a/>
	</div>
	<table id="card-player-approval">
		<tr>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>Approvals</td>
			<td>Disapprovals</td>

	</tr>
	</table>
	<span id="card-player-tags">
		<button>{{ tag }}</button>
		<button>{{ tag }}</button>
		<button>{{ tag }}</button>
	</span>
	<a id="card-view-profile">
		<div id="view-profile-container">
			<label>View Profile</label>
		</div>

	</a>
</div>