<div id="top-menu">
  <div class="hamburger"></div>
  <label class="title"><%=title%></label>

  <div id="nav-search">
    <form id="nav-search-form">
      <div id="search-container">
      <select id="platform-selector">
        <option value="lol">League of Legends</option>
        <option value="steam">Steam</option>
      </select>
      <input id="GamerTag" placeholder="GamerID">
      <button id="search-button">Search</button>
    </div>
    </form>
  </div>
  <div id="navbar-user-actions">
  	<span>
  		<button id="sign-in">sign in</button>
  		<button id="sign-up">
  			sign up
  		</button>
  	</span>
  </div>
</div>