<div id="top-menu">
  <div class="hamburger"></div>
  <label class="title"><%=title%></label>
  <div id="navbar-user-actions">
  	<span>
  		<button id="sign-in">sign in</button>
  		<button id="sign-up">sign up</button>
  	</span>
  </div>
</div>