<div id="lol-leagues-section">
  <input class="region" value="<%=region%>" hidden>

  <div class="card leagues-container">
    <div class="common-table-header-selector leagues-name-table-header-selector">
      <span class="selector league-name solo-5v5 selected">SOLO 5V5</span>
      <span class="selector league-name flex-5v5">FLEX 5V5</span>
      <span class="selector league-name flex-3v3">FLEX 3V3</span>
    </div>
      <%- include('./ui/lol_details', {ranked: ranked[0], region, gamertag, type: 'solo-5v5', hidden: false}) %>
      <%- include('./ui/lol_details', {ranked: ranked[1], region, gamertag, type: 'flex-5v5', hidden: true}) %>
      <%- include('./ui/lol_details', {ranked: ranked[2], region, gamertag, type: 'flex-3v3', hidden: true}) %>
  </div>
</div>