<div class="footer-wrapper">
	<div id="footer-text-wrapper">
	<div id="footer-text"><%=__('contact')%></div>
	<div id="footer-text"><%=__('privacy_policy')%></div>
	<div id="footer-text"><%=__('terms')%></div>
	<div id="footer-text-languages"><%=__('languages')%></div>
	<div id="footer-text-language">English</div>
	<span id="footer-links">
		<a href=""><img id="discord-image"src = "static/images/Discord-Logo-White.svg" /> </a>
		<a href="" uk-icon="icon: facebook;"></a>     
		<a href="" uk-icon="icon: twitter;"></a></span>
	<div id="gs-copyright">&copy;Gamerscout</div>
</div>
</div>