<div class="hamburger-menu-icon" style="display: inline !important;">
  <a href="#hamburger-menu" uk-icon="icon: menu; ratio: 1.5;" uk-toggle></a>
  <div id="hamburger-menu" uk-offcanvas="flip: true">
    <div class="uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-list">
        <% if (session && session._id) { %>
        <li><a class="logout uk-text-uppercase" href="#"><%=__('signout')%></a></li>
        <li><a class="profile uk-text-uppercase" href="/account"><%=__('profile')%></a></li>
        <%} else {%>
        <li><a class="uk-button uk-button-text signin js-signin-mode" uk-toggle="target: #signup-signin-modal">
            <%=__('signin')%>
          </a>
        </li>
        <li>
          <a class="uk-button uk-button-text signup js-signup-mode" uk-toggle="target: #signup-signin-modal">
            <%=__('signup')%>
          </a></li>
        <%}%>
    </ul>
    </div>
  </div>
</div>