<head>
	<title><%= title %></title>
  <link rel='stylesheet' href='/static/bundle.css' />
  <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="/bower_components/uikit/css/uikit.min.css" />

  <!-- JQUERY -->
  <script src="/bower_components/jquery/dist/jquery.min.js"> </script>
  <!-- UIkit JS -->
  <script src="/bower_components/uikit/js/uikit.min.js"></script>
  <script src="/bower_components/uikit/js/uikit-icons.min.js"></script>
  <!-- Facebook login -->
  <script src="/js/utils/facebook.js"></script>
  <!-- Custom js -->
  <script src="/js/utils/md5.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/ui/login/signup_signin_modal.js"></script>
  <script src="/js/utils/data-manager.js"></script>
  <script src="/js/utils/form-error.js"></script>
  <script src="/js/utils/form-validation.js"></script>
</head>