<% var data = (typeof data !== 'undefined') ? data : {}; %>

<div id="overview-card" class="card small game-overview">
  <div id="ranked-card-container" class="card-body review-container">
    <div class="left">
      <img class="profile" alt="game-overview-profile" src="/static/images/default_profile_picture.jpg"/>
    </div>
    <div class="middle">
      <div class="gamertag proxima-alt">Xx Sniper xX</div>
      <div class="game proxima-alt">League of Legends (NA)</div>
    </div>
    <div class="right">
      <div class="up-container">
        <span class="count proxima-alt">12</span>
        <img alt="up" src="/static/images/thumb-up.svg"/>
      </div>
      <div class="down-container">
        <span class="count proxima-alt">2</span>
        <img alt="up" src="/static/images/thumb-down.svg" />
      </div>
    </div>
  </div>
</div>