<div class="horizontal-bar">
  <div class="bar-title"><%=title%></div>
  <div class="bar-container">
    <div class="empty-bar"></div>
    <div class="filled-bar" style="width:<%=width%>px;"></div>
  </div>
</div>