<div class="card-body ranked-container">
  <div class="common-table-header-selector ranked-table-header-selector">
    <span href="#" class="selector solo selected">RANKED SOLO</span>
    <span href="#" class="selector flex">RANKED FLEX</span>
  </div>

</div>