<div id="review-card" class="card small review">
  <div id="ranked-card-container" class="card-body review-container">
    <div class="left">
      <img alt="reviewer-icn" src="/static/images/reviewer.svg"/>
    </div>
    <div class="right">
      <span class="gamertag proxima-alt">The Dao</span>
      <div class="reviewed-at proxima-alt">3 days ago</div>
      <div class="comment">
        <div class="text proxima-alt">
          <img class="thumb" alt="review thumb-up" src="/static/images/thumb-up.svg" />
          <span class="attr">Skilled</span> .
          <span class="attr">Team player</span> . I played with the dao in solo queue and we destroyed the botlane together. He is very good at support and always take care of his ad carry.</div>
      </div>
    </div>
  </div>
</div>