#signup-signin-modal {
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top-menu {
      .top-menu-tab {
      }// .top-menu-tab
    }// .top-menu
    .modal-content {
      p {
        color: @color-black;
      }

      .tip {
        text-align: center;
        margin: 0;
      }// .tip

      .email {
        height: 55px;
        margin-top: 5px;
        margin-bottom: 20px;
      }// .email

      .password {
        height: 55px;
      }// .password

      .submit {
        width: 100%;
        background-color: @color-red;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 17px;
        margin: 16px 0 0 0;
        height: 54px;
      }// submit

      .or {
        text-align: center;
      }// .or

      .social {
          display: flex;
          justify-content: center;
          align-items: center;
      }// .social

      .facebook {
        width: 49%;
        height: 50px;
        margin: 0 1px 0 0;
        background-color: @color-blue-facebook;
        border: none;
      }// .facebook

      .twitter {
        width: 49%;
        height: 50px;
        background-color: @color-blue-twitter;
        border: none;
        // margin: 0 0 0 5px;
      }// .twitter

    }// .modal-content
  }// modal-body
}// #signup-signin-modal