#signup-signin-modal {
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top-menu {
      .top-menu-tab {
      }// .top-menu-tab
    }// .top-menu
    .modal-content {
      p {
        color: @color-black;
      }
    }// .modal-content
  }// modal-body
}// #signup-signin-modal