#signup-signin-modal {
  input {
    position: relative;
    font-size: 14px;
    padding-left: 33px;
  }

  .input-container {
    position: relative;
  }

  .input-icon {
    position: absolute;
    top: 18px;
    left: 8px;
    color: @color-grey-light-2;
  }

  .signin-mode {
    width: 332px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;

    .forgot-pwd {
      font-size: 12px;
    }
    .top-menu {
      .top-menu-tab {
      }// .top-menu-tab
    }// .top-menu
    .modal-content {
      p {
        color: @color-black;
      }

      .tip {
        text-align: left;
        margin: 0;
        color: @color-grey-light-2;
        font-size: 11px;
      }// .tip

      .checkbox-container {
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
      }//.checkbox-container

      .email {
        height: 55px;
        margin-bottom: 5px;
      }// .email

      .displayname {
        height: 55px;
        margin-bottom: 5px;
      }

      .password {
        height: 55px;
        margin-bottom: 5px;
      }// .password

      .submit {
        width: 100%;
        background-color: @color-red;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        margin: 16px 0 0 0;
        height: 54px;
      }// submit

      .or {
        text-align: center;
        color: @color-grey-light-2;
        font-size: 11px;
        text-transform: uppercase;
        margin: 15px;
      }// .or

      .social {
          display: flex;
          justify-content: center;
          align-items: center;
      }// .social

      .facebook-btn {
        color: @color-white;
        width: 150px;
        height: 50px;
        margin: 0 1px 0 0;
        background-color: @color-blue-facebook;
        border: none;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }// .facebook

      .fb-lbl {
        margin-left: 10px;
      }

      .twitter {
        color: @color-white;
        width: 49%;
        height: 50px;
        background-color: @color-blue-twitter;
        border: none;
        // margin: 0 0 0 5px;
      }// .twitter

      .input-error-msg {
        visibility: hidden;
      }// .input-error-msg

      .form-alert {
        margin-bottom: 10px;
        font-size: 11px;
        height: 30px;
      }

      .ua-checkbox-wrapper {
        margin-top: 15px;
      }

      .user-agreement-label {
        margin-top: 5px;
        font-size: 12px;
        display: block;
        color: @color-grey-light-2;
      }// .user-agreement-label

      .user-agreement-text {
        text-align: center;
        margin-bottom: 0;
        color: @color-grey-light-2;
        height: 32vh;
        font-size: 12px;
        overflow-y: auto;
        margin-top: 25px;
        text-align: justify;
      }// .user-agreement-text
    }// .modal-content
  }// modal-body
}// #signup-signin-modal
