<!DOCTYPE html>
<html>
  <% include ui/header %>
  <body id="index">
    <% include ui/top_menu %>
    <div class="content-wrapper-tos">
    	<div id="tos-top-bar">
    		<h2>Legal</h2>
    		<div id="tos-links-wrapper"><div id="tos-links"><a id="terms-link">TERMS</a><a id="pp-link">PRIVACY POLICY</a></div></div>
    	</div>
    	<div id="tos-body">

    		<!-- TOS content here-->
    		<div id="tos-content">
    			<h3>Terms and Conditions</h3>
    			<p>as;fal dfjl hahadsfkjl dsflkjgasd kgfasdkl fagskdfg asdhfg adsjfhgasdjhfgasjdgf ajhgdsf gadsf jahgsdf jagsdfj gasdfjhgas djfhg sjkdgf jagdsjfg asdjfg ahjdgf asdjgf asdfj gsdfj gsdfkjsa gdjfgsdj fgasjf gasjdfg jsdf </p>
    			<h3>Electronic Communications</h3>
    			<p>as;fal dfjl hahadsfkjl dsflkjgasd kgfasdkl fagskdfg asdhfg adsjfhgasdjhfgasjdgf ajhgdsf gadsf jahgsdf jagsdfj gasdfjhgas djfhg sjkdgf jagdsjfg asdjfg ahjdgf asdjgf asdfj gsdfj gsdfkjsa gdjfgsdj fgasjf gasjdfg jsdf </p>
    			<h3>Your Account</h3>
    			<p>as;fal dfjl hahadsfkjl dsflkjgasd kgfasdkl fagskdfg asdhfg adsjfhgasdjhfgasjdgf ajhgdsf gadsf jahgsdf jagsdfj gasdfjhgas djfhg sjkdgf jagdsjfg asdjfg ahjdgf asdjgf asdfj gsdfj gsdfkjsa gdjfgsdj fgasjf gasjdfg jsdf </p>
    		</div>
    		<!-- Privacy Policy Content here -->
    		<div id="pp-content">
    			<h3>Privacy</h3>
    			<p>as;fal dfjl hahadsfkjl dsflkjgasd kgfasdkl fagskdfg asdhfg adsjfhgasdjhfgasjdgf ajhgdsf gadsf jahgsdf jagsdfj gasdfjhgas djfhg sjkdgf jagdsjfg asdjfg ahjdgf asdjgf asdfj gsdfj gsdfkjsa gdjfgsdj fgasjf gasjdfg jsdf </p>
    			<h3>Policy</h3>
    			<p>as;fal dfjl hahadsfkjl dsflkjgasd kgfasdkl fagskdfg asdhfg adsjfhgasdjhfgasjdgf ajhgdsf gadsf jahgsdf jagsdfj gasdfjhgas djfhg sjkdgf jagdsjfg asdjfg ahjdgf asdjgf asdfj gsdfj gsdfkjsa gdjfgsdj fgasjf gasjdfg jsdf </p>
    			<h3>Privacy Policy</h3>
    			<p>as;fal dfjl hahadsfkjl dsflkjgasd kgfasdkl fagskdfg asdhfg adsjfhgasdjhfgasjdgf ajhgdsf gadsf jahgsdf jagsdfj gasdfjhgas djfhg sjkdgf jagdsjfg asdjfg ahjdgf asdjgf asdfj gsdfj gsdfkjsa gdjfgsdj fgasjf gasjdfg jsdf </p>
    		</div>
    	</div>


    </div>
    <% include ui/login/signup_signin_modal %>
    <% include ui/footer %>
  </body>
</html>