<div id="player-card-container" style="color: black;">
  <div class="header"></div>
  <div class="body">
  	<div class="view-profile" style="color: black;"><%=__('view-profile')%></div>
  </div>
</div>