html {
  font-family: 'Lemonada', cursive;
  background: #2B303A !important;
  min-width: 345px;
}
body {
  margin: 0;
  background-color: #ffffff;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 14px;
}
label {
  font-size: 20px;
}
li {
  font-size: 14px;
}
input {
  outline: none;
}
input:hover {
  cursor: pointer;
}
button {
  border-width: 2px;
  border-radius: 0;
  outline: none;
}
button:hover {
  cursor: pointer;
}
.input-error-msg {
  color: #EE5270;
}
textarea::-webkit-input-placeholder {
  color: #9C9C9D;
}
.hidden {
  position: absolute;
}
.line-break {
  border: 1px solid #E5E5E5;
  width: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-wrapper .search-section-wrapper {
  padding: 0;
  background: url('/static/images/home-background.jpg');
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-color: #2B303A;
}
.content-wrapper .search-section-wrapper .search-container {
  display: flex;
}
.content-wrapper .search-section-wrapper .search-container .game-dropdown {
  position: relative;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #F4F4F4;
  color: #000000;
  text-align: left;
  display: flex;
  padding-left: 19px;
  padding-right: 19px;
  align-items: center;
}
.content-wrapper .search-section-wrapper .search-container #game-dropdown-icn {
  position: absolute;
  top: 16px;
  right: 12px;
  color: #9C9C9D;
}
.content-wrapper .search-section-wrapper .search-container #region-dropdown-icon {
  color: #ffffff;
}
.content-wrapper .search-section-wrapper .search-container .search {
  color: #000000;
  padding-left: 19px;
  padding-right: 19px;
  width: 240px;
  border: none;
}
.content-wrapper .search-section-wrapper .search-container .search-button {
  width: 130px;
  background-color: #FC4E51;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 17px;
}
.content-wrapper .search-section-wrapper .search-container .cheeky-dropdown-surround {
  width: 80px;
  height: 50px;
  background-color: #ffffff;
}
.content-wrapper .search-section-wrapper .search-container .uk-form-custom {
  margin-top: 13px;
  width: 60px;
  height: 24px;
  font-size: 12px;
  text-align: center;
  background-color: #2B303A;
  color: #ffffff;
}
.content-wrapper .search-section-wrapper .search-text-1 {
  color: #ffffff;
  width: 580px;
  text-align: center;
  font-size: 28px;
}
.content-wrapper .search-section-wrapper .search-text-2 {
  color: #ffffff;
  font-size: 13px;
}
.content-wrapper .featured-section-wrapper {
  padding: 0;
  width: 100%;
}
.content-wrapper .featured-section-wrapper .title-bandeau {
  width: 100vw;
}
.content-wrapper .featured-section-wrapper .title-bandeau .title-text {
  color: #ffffff;
  background-color: #2B303A;
  padding: 10px 0 10px 0;
  text-align: center;
}
.content-wrapper .featured-section-wrapper .featured-list {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  background-color: white;
  min-height: 312px;
  margin-bottom: 26px;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1290px) {
  .content-wrapper {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-wrapper .search-section-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    background: url('/static/images/home-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2B303A;
  }
  .content-wrapper .search-section-wrapper .search-container {
    display: flex;
  }
  .content-wrapper .search-section-wrapper .search-container .game-dropdown {
    position: relative;
    width: 180px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #F4F4F4;
    color: #000000;
    text-align: left;
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
    align-items: center;
  }
  .content-wrapper .search-section-wrapper .search-container #game-dropdown-icn {
    position: absolute;
    top: 16px;
    right: 12px;
    color: #9C9C9D;
  }
  .content-wrapper .search-section-wrapper .search-container #region-dropdown-icon {
    color: #ffffff;
  }
  .content-wrapper .search-section-wrapper .search-container .search {
    color: #000000;
    padding-left: 19px;
    padding-right: 19px;
    width: 240px;
    border: none;
  }
  .content-wrapper .search-section-wrapper .search-container .search-button {
    width: 130px;
    background-color: #FC4E51;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
  }
  .content-wrapper .search-section-wrapper .search-container .cheeky-dropdown-surround {
    width: 80px;
    height: 50px;
    background-color: #ffffff;
  }
  .content-wrapper .search-section-wrapper .search-container .uk-form-custom {
    margin-top: 13px;
    width: 60px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    background-color: #2B303A;
    color: #ffffff;
  }
  .content-wrapper .search-section-wrapper .search-text-1 {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
  }
  .content-wrapper .search-section-wrapper .search-text-2 {
    color: #ffffff;
    font-size: 13px;
  }
  .content-wrapper .featured-section-wrapper {
    padding: 0;
    height: 400px;
  }
  .content-wrapper .featured-section-wrapper .title-bandeau {
    background-color: #2B303A;
    height: 65px;
    width: 100vw;
  }
  .content-wrapper .featured-section-wrapper .title-bandeau .title-text {
    color: #ffffff;
    background-color: #2B303A;
    padding: 10px 0 0 0;
    text-align: center;
  }
  .content-wrapper .featured-section-wrapper .featured-list {
    margin-top: 10px;
    min-width: 100vw;
    display: flex;
    background-color: white;
    width: 100vw;
    justify-content: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  html .content-wrapper,
  body .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/static/images/home-background.jpg');
    background-height: 100%;
    background-repeat: no-repeat;
    background-color: #2B303A;
  }
  html .content-wrapper .search-section-wrapper,
  body .content-wrapper .search-section-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: transparent;
  }
  html .content-wrapper .search-section-wrapper .search-container,
  body .content-wrapper .search-section-wrapper .search-container {
    position: relative;
    width: 320px;
    display: flex;
  }
  html .content-wrapper .search-section-wrapper .search-container .game-dropdown,
  body .content-wrapper .search-section-wrapper .search-container .game-dropdown {
    position: absolute;
    width: 320px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #F4F4F4;
    color: #000000;
    text-align: left;
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
    align-items: center;
  }
  html .content-wrapper .search-section-wrapper .search-container #game-dropdown-icn,
  body .content-wrapper .search-section-wrapper .search-container #game-dropdown-icn {
    position: absolute;
    top: 16px;
    right: 12px;
    color: #9C9C9D;
  }
  html .content-wrapper .search-section-wrapper .search-container #region-dropdown-icon,
  body .content-wrapper .search-section-wrapper .search-container #region-dropdown-icon {
    color: #ffffff;
  }
  html .content-wrapper .search-section-wrapper .search-container .search,
  body .content-wrapper .search-section-wrapper .search-container .search {
    -webkit-border-radius: 0;
    border-radius: 0 !important;
    color: #000000;
    margin-top: 60px;
    width: 282px;
    height: 60px;
    border: none;
    position: absolute;
  }
  html .content-wrapper .search-section-wrapper .search-container .search-button,
  body .content-wrapper .search-section-wrapper .search-container .search-button {
    position: absolute;
    margin-top: 120px;
    height: 60px;
    width: 320px;
    background-color: #FC4E51;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
  }
  html .content-wrapper .search-section-wrapper .search-container .cheeky-dropdown-surround,
  body .content-wrapper .search-section-wrapper .search-container .cheeky-dropdown-surround {
    margin-left: 240px;
    width: 80px;
    margin-top: 61px;
    height: 58px;
    background-color: #ffffff;
  }
  html .content-wrapper .search-section-wrapper .search-container .uk-form-custom,
  body .content-wrapper .search-section-wrapper .search-container .uk-form-custom {
    margin-top: 13px;
    width: 60px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    background-color: #2B303A;
    color: #ffffff;
  }
  html .content-wrapper .search-section-wrapper .search-text-1,
  body .content-wrapper .search-section-wrapper .search-text-1 {
    width: 320px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
  }
  html .content-wrapper .search-section-wrapper .search-text-2,
  body .content-wrapper .search-section-wrapper .search-text-2 {
    margin-top: 100px;
    width: 320px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
  }
  html .content-wrapper .featured-section-wrapper,
  body .content-wrapper .featured-section-wrapper {
    display: none;
    padding: 0;
    height: 100px;
  }
  html .content-wrapper .featured-section-wrapper .title-bandeau,
  body .content-wrapper .featured-section-wrapper .title-bandeau {
    width: 100%;
  }
  html .content-wrapper .featured-section-wrapper .title-bandeau .title-text,
  body .content-wrapper .featured-section-wrapper .title-bandeau .title-text {
    color: #ffffff;
    background-color: #2B303A;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  html .content-wrapper .featured-section-wrapper .featured-list,
  body .content-wrapper .featured-section-wrapper .featured-list {
    display: flex;
    background-color: white;
    width: 100vw;
    min-height: 312px;
    justify-content: center;
  }
}
#forgot-pwd-modal .forgot-pwd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#forgot-pwd-modal .title {
  margin-bottom: 70px;
}
#forgot-pwd-modal .subtitle {
  text-align: center;
  margin: 0 0 50px 0;
}
#forgot-pwd-modal .input-container {
  width: 100%;
  position: relative;
}
#forgot-pwd-modal .forgot-pwd-email {
  margin: 0 0 0 0;
  height: 50px;
  padding-left: 42px;
}
#forgot-pwd-modal .form-container,
#forgot-pwd-modal .email-confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#forgot-pwd-modal .submit {
  margin-top: 80px;
  background-color: #FC4E51;
  width: 100%;
}
#forgot-pwd-modal .submit-text {
  color: #ffffff;
}
#forgot-pwd-modal .close-btn {
  margin-top: 80px;
  background-color: #273043;
  width: 100%;
  position: relative!important;
}
#forgot-pwd-modal .close-btn-text {
  color: #ffffff;
}
#forgot-pwd-modal .email-icon {
  position: absolute;
  top: 16px;
  left: 15px;
  color: #9C9C9D;
}
#forgot-pwd-modal .modal-content {
  padding: 0 71px 0 71px;
}
#top-menu {
  width: 100%;
  height: 70px;
  background-color: #2B303A;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 0 0 0;
  border-bottom: 2px solid #FC4E51;
}
#top-menu .title {
  display: block;
  text-indent: -9999px;
  margin-left: 18px;
  width: 120px;
  height: auto;
  background-image: url('/static/images/gs-logo.svg');
  background-size: 120px 75px;
  background-position: absolute;
  background-repeat: no-repeat;
}
#top-menu .no-svg .title {
  background-image: url('/static/images/gs-logo.png');
}
#top-menu .logout {
  position: absolute;
  right: 18px;
  color: #ffffff;
}
#top-menu .search-bar-container {
  display: flex;
  height: 36px;
}
#top-menu .search-bar-container button {
  color: #ffffff;
}
#top-menu .search-bar-container .game-dropdown {
  position: relative;
  margin-left: 20px;
  background-color: #1F232B;
  height: 36px;
  border: solid 1px grey;
  width: 87px;
  text-align: left;
}
#top-menu .search-bar-container .game-dropdown .icon {
  position: absolute;
  right: 6px;
}
#top-menu .search-bar-container .search {
  height: 34px;
  background-color: #1F232B;
  border: solid 1px grey;
  border-left: none;
  border-right: none;
  padding: 0 7px 0 7px;
  color: #ffffff;
}
#top-menu .cheeky-dropdown-surround-nav {
  position: relative;
  width: 80px;
  height: 94%;
  background-color: #1F232B;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}
#top-menu .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
  width: 60px;
  height: 22px;
  margin-top: 6px;
  margin-left: 15px;
  font-size: 12px;
  text-align: center;
  background-color: #2B303A;
  color: #ffffff;
}
#top-menu .search-icon {
  background-color: #FC4E51;
  color: #ffffff;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#top-menu .hamburger-menu-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: azure;
  position: absolute;
  right: 20px;
  display: none;
}
#top-menu .signin-signup-container {
  position: absolute;
  right: 18px;
}
#top-menu .signin-signup-container button {
  color: #ffffff;
}
#top-menu .signin-signup-container .signup {
  margin-left: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  #top-menu {
    width: 100%;
    height: 70px;
    background-color: #2B303A;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0 0 0 0;
    border-bottom: 2px solid #FC4E51;
  }
  #top-menu .title {
    margin-left: 10px;
  }
  #top-menu .no-svg .title {
    background-image: url('/static/images/gs-logo.png');
  }
  #top-menu .logout {
    display: none;
    position: absolute;
    right: 18px;
    color: #ffffff;
  }
  #top-menu .search-bar-container {
    display: none;
    height: 36px;
  }
  #top-menu .search-bar-container button {
    color: #ffffff;
  }
  #top-menu .search-bar-container .game-dropdown {
    position: relative;
    margin-left: 20px;
    background-color: #1F232B;
    height: 36px;
    border: solid 1px grey;
    width: 87px;
    text-align: left;
  }
  #top-menu .search-bar-container .game-dropdown .icon {
    position: absolute;
    right: 6px;
  }
  #top-menu .search-bar-container .search {
    display: none;
    height: 34px;
    background-color: #1F232B;
    border: solid 1px grey;
    border-left: none;
    border-right: none;
    padding: 0 7px 0 7px;
    color: #ffffff;
  }
  #top-menu .search-bar-container .cheeky-dropdown-surround-nav {
    position: relative;
    width: 80px;
    height: 95%;
    background-color: #1F232B;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
  }
  #top-menu .search-bar-container .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
    width: 60px;
    height: 22px;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 12px;
    text-align: center;
    background-color: #2B303A;
    color: #ffffff;
  }
  #top-menu .search-icon {
    display: none;
    background-color: #FC4E51;
    color: #ffffff;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #top-menu .hamburger-menu-icon {
    color: #ffffff;
    display: inline;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-color: #2B303A;
    position: absolute;
  }
  #top-menu uk-icon {
    text-decoration: none;
  }
  #top-menu .signin-signup-container {
    display: none;
    position: absolute;
    right: 18px;
  }
  #top-menu .signin-signup-container button {
    color: #ffffff;
  }
  #top-menu .signin-signup-container .signup {
    margin-left: 5px;
  }
}
.recent-view-item-container {
  background: #2B303A;
  min-width: 270px;
  max-width: 270px;
  margin: 10px 3px 5px 10px;
  border: 1px solid #CDDDDD;
  transition: all 0.3s ease;
}
.recent-view-item-container:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.recent-view-item-container .header {
  background-color: #F4F4F4;
  height: 110px;
  padding: 10px;
}
.recent-view-item-container .header .platform {
  font-size: 13px;
}
.recent-view-item-container .body {
  background-color: #ffffff;
  height: 185px;
}
.recent-view-item-container .body .profile-picture-container {
  position: relative;
}
.recent-view-item-container .body .profile-picture-container .profile-picture {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 80px;
  top: -72px;
  right: 23%;
  border: solid 6px white;
}
.recent-view-item-container .body .player-informations {
  display: flex;
  justify-content: center;
}
.recent-view-item-container .body .gamertag {
  font-weight: bold;
  margin-top: 10px;
  font-size: 42px;
  margin: 67px 0 0 0;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1290px) {
  .recent-view-item-container {
    background: #ffffff;
    min-width: 270px;
    max-width: 270px;
    margin: 10px 3px 5px 10px;
    border: 1px solid #CDDDDD;
    transition: all 0.3s ease;
  }
  .recent-view-item-container:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
  .recent-view-item-container .header {
    background-color: #F4F4F4;
    height: 110px;
    padding: 10px;
  }
  .recent-view-item-container .header .platform {
    font-size: 13px;
  }
  .recent-view-item-container .body {
    background-color: #ffffff;
    height: 185px;
  }
  .recent-view-item-container .body .profile-picture-container {
    position: relative;
  }
  .recent-view-item-container .body .profile-picture-container .profile-picture {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 80px;
    top: -72px;
    right: 23%;
    border: solid 6px white;
  }
  .recent-view-item-container .body .player-informations {
    display: flex;
    justify-content: center;
  }
  .recent-view-item-container .body .gamertag {
    font-weight: bold;
    margin-top: 10px;
    font-size: 42px;
    margin: 67px 0 0 0;
  }
  #featured-div-2 {
    display: none;
  }
}
#signup-signin-modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signup-signin-modal .modal-body .modal-content p {
  color: #000000;
}
#signup-signin-modal .modal-body .modal-content .tip {
  text-align: center;
  margin: 0;
  color: #818181;
}
#signup-signin-modal .modal-body .modal-content .email {
  height: 55px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#signup-signin-modal .modal-body .modal-content .password {
  height: 55px;
}
#signup-signin-modal .modal-body .modal-content .submit {
  width: 100%;
  background-color: #FC4E51;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  margin: 16px 0 0 0;
  height: 54px;
}
#signup-signin-modal .modal-body .modal-content .or {
  text-align: center;
  color: #818181;
  font-size: 17px;
}
#signup-signin-modal .modal-body .modal-content .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup-signin-modal .modal-body .modal-content .facebook {
  color: #ffffff;
  width: 49%;
  height: 50px;
  margin: 0 1px 0 0;
  background-color: #3C5A96;
  border: none;
}
#signup-signin-modal .modal-body .modal-content .twitter {
  color: #ffffff;
  width: 49%;
  height: 50px;
  background-color: #2AA3EF;
  border: none;
}
#signup-signin-modal .modal-body .modal-content .input-error-msg {
  visibility: hidden;
}
#signup-signin-modal .modal-body .modal-content .user-agreement-label {
  font-size: 12px;
}
#signup-signin-modal .modal-body .modal-content .user-agreement-text {
  text-align: center;
  margin-bottom: 0;
  color: #818181;
  height: 32vh;
  font-size: 12px;
  overflow-y: auto;
  margin-top: 25px;
  text-align: justify;
}
.profile-content-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-display-wrapper {
  width: 100%;
  text-align: center;
  height: 400px;
  background: url('/static/images/profile-background.jpg');
  background-size: cover;
  background-position: center top;
  position: relative;
  background-image: no-repeat;
}
.profile-display-wrapper .background-layer {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.profile-display-wrapper #profile-image {
  border-radius: 100%;
  height: 190px;
  width: 190px;
}
.profile-display-wrapper .profile-avatar-complete {
  margin: 0 auto;
  margin-top: 60px;
  width: 200px;
  height: 200pxpx;
  opacity: 1.0;
}
.profile-display-wrapper .profile-avatar-complete .profile-avatar {
  width: 190px;
  height: 190px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50%;
  z-index: 2;
}
.profile-display-wrapper .profile-avatar-complete .profile-avatar-surround {
  z-index: 0;
  margin-top: -195px;
  height: 200px;
  width: 200px;
  background-color: #F4F4F4;
  border-radius: 50%;
}
.profile-display-wrapper .profile-user-info {
  position: relative;
  margin-top: 30px;
  width: 100%;
  max-height: 10vh;
}
.profile-display-wrapper .profile-user-info .profile-reps-flames {
  width: 33%;
  height: 20px;
  float: left;
}
.profile-display-wrapper .profile-user-info .reps-flames-table {
  width: 100%;
  height: 100%;
  max-width: 200px;
  margin-right: 0;
  margin-left: auto;
}
.profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-count {
  color: #F4F4F4;
  text-align: center;
  margin: 0;
  padding: 0;
}
.profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-value-cell {
  width: 50%;
  height: 60%;
  font-size: 3vh;
  text-align: center;
  color: #F4F4F4;
}
.profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-label-cell {
  vertical-align: top;
  font-size: 1.5vh;
  text-align: center;
  color: #F4F4F4;
}
.profile-display-wrapper .profile-user-info .profile-gamertag {
  float: left;
  width: 33%;
}
.profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-display {
  color: #F4F4F4;
  text-align: center;
  font-size: 3vh;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-review-label {
  color: #F4F4F4;
  text-align: center;
  font-size: 2vh;
  margin-top: -1vh;
  padding: 0;
}
.profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-region-display {
  color: #F4F4F4;
  text-align: center;
  font-size: 2vh;
  margin-top: -3vh;
  padding: 0;
}
.profile-display-wrapper .profile-user-info .profile-tags {
  width: 34%;
  height: 35px;
  overflow: hidden;
  margin-top: 15px;
  float: left;
}
.profile-display-wrapper .profile-user-info .profile-tags .gamer-tag-div {
  color: white;
  width: 20%;
  min-width: 100px;
  border: 2px solid #F4F4F4;
  text-align: center;
  border-radius: 10px;
}
.review-section {
  width: 100%;
}
.review-section .review-player-header {
  background-color: #d3d3d3;
  height: 60px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #F4F4F4;
}
.review-section .review-player-header .review-title {
  color: #000000;
  font-size: 24px;
  display: inline-block;
  margin: 10px 10px 0 0;
}
.profile-comment-section-container {
  width: 90%;
  background: #ffffff;
  padding: 0 30px 0 30px;
}
.profile-comment-section {
  width: 100%;
  min-height: 300px;
  max-height: 2000px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.profile-comment-section .review-display {
  background-color: #ffffff;
  width: 100%;
}
.profile-comment-section .review-action-bar {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile-comment-section .review-action-bar .review-player-button {
  margin-top: 25px;
  width: 150px;
  height: 40px;
  background-color: #FC4E51;
  color: #ffffff;
  border: none;
  text-decoration: none;
  padding: 0;
}
.profile-comment-section .review-action-bar .review-player-button-disabled {
  cursor: not-allowed;
  margin-top: 0px;
  background-color: rgba(228, 215, 215, 0.5);
}
.profile-comment-section .review-action-bar .review-warning {
  margin: 12px 0 0 0;
}
.profile-comment-section .no-review-wrapper {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
}
.profile-comment-section .no-review-wrapper #no-review-text-wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.profile-comment-section .no-review-wrapper #no-review-text-wrapper #shrug-header {
  width: 100%;
  font-size: 36px;
}
.profile-comment-section .no-review-wrapper #no-review-text-wrapper #review-sub #review-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.profile-comment-section article {
  width: 100%;
}
.profile-comment-section .uk-comment {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}
.profile-comment-section .uk-comment #review-comment {
  font-size: 20px;
  max-height: 120px;
  overflow-x: auto;
  overflow-y: hidden;
}
.profile-comment-section .uk-comment #see-more {
  margin-top: -10px;
  text-decoration: none;
  color: #1F232B;
  font-weight: bold;
  font-size: 12px;
}
.profile-comment-section .uk-comment #review-rating {
  font-weight: bold;
}
.profile-comment-section .uk-comment .uk-comment-body {
  display: flex;
  flex-wrap: wrap;
}
.profile-comment-section .profile-comment-section-container::webkit-scrollbar {
  width: 0 !important;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1290px) {
  .profile-display-wrapper {
    width: 100%;
    height: 600px;
    background: url('/static/images/profile-background.jpg');
    background-position: center;
    position: relative;
  }
  .profile-display-wrapper .background-layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .profile-display-wrapper #profile-image {
    border-radius: 100%;
    height: 190px;
    width: 190px;
  }
  .profile-display-wrapper .profile-avatar-complete {
    margin: 0 auto;
    margin-top: 60px;
    width: 200px;
    height: 200pxpx;
    opacity: 1.0;
  }
  .profile-display-wrapper .profile-avatar-complete .profile-avatar {
    width: 190px;
    height: 190px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
    z-index: 2;
  }
  .profile-display-wrapper .profile-avatar-complete .profile-avatar-surround {
    z-index: 0;
    margin-top: -195px;
    height: 200px;
    width: 200px;
    background-color: #F4F4F4;
    border-radius: 50%;
  }
  .profile-display-wrapper .profile-user-info {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  .profile-display-wrapper .profile-user-info .profile-reps-flames {
    height: 20px;
    margin-top: 120px;
    position: absolute;
  }
  .profile-display-wrapper .profile-user-info .reps-flames-table {
    height: 200px;
    position: relative;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-count {
    color: #F4F4F4;
    text-align: center;
    width: 150px;
    padding: 0;
  }
  .profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-value-cell {
    width: 50%;
    height: 60%;
    font-size: 18px;
    text-align: center;
    color: #F4F4F4;
  }
  .profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-label-cell {
    vertical-align: top;
    font-size: 10px;
    text-align: center;
    color: #F4F4F4;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag {
    position: relative;
    height: 150px;
    width: 100%;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag #gamertag-profile-wrapper {
    margin-top: -200px;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag #profile-reps-flames {
    top: 0px;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-display {
    color: #F4F4F4;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-review-label {
    color: #F4F4F4;
    text-align: center;
    padding: 0;
    font-weight: normal;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-region-display {
    color: #F4F4F4;
    text-align: center;
    font-size: 24px;
    margin-top: -30px;
  }
  .profile-display-wrapper .profile-user-info .profile-tags {
    width: 100%;
    height: 40px;
    margin-top: 200px;
    padding-bottom: 5px;
    position: absolute;
  }
  .profile-display-wrapper .profile-user-info .profile-tags #tag-table {
    margin-bottom: 3px;
    display: inline;
  }
  .profile-display-wrapper .profile-user-info .profile-tags .gamer-tag-div {
    color: white;
    width: 20%;
    min-width: 160px;
    font-size: 24px;
    height: 30px;
    border: 2px solid #F4F4F4;
    text-align: center;
    border-radius: 10px;
  }
  .review-section {
    width: 100%;
    background-color: #FC4E51;
    height: 100%;
    display: inline-block;
  }
  .review-section .review-player-header {
    background-color: #d3d3d3;
    height: 60px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #F4F4F4;
  }
  .review-section .review-player-header .review-title {
    color: #000000;
    font-size: 24px;
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  .profile-comment-section {
    min-height: 300px;
    max-height: 2000px;
    overflow-y: scroll;
    display: table;
    margin: 0 auto;
  }
  .profile-comment-section .review-display {
    background-color: black;
    width: 100%;
  }
  .profile-comment-section .review-action-bar {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
  }
  .profile-comment-section .review-action-bar .review-player-button {
    margin-top: 25px;
    width: 150px;
    height: 40px;
    background-color: #FC4E51;
    color: #ffffff;
    border: none;
    text-decoration: none;
  }
  .profile-comment-section .no-review-wrapper {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
  }
  .profile-comment-section .no-review-wrapper #no-review-text-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .profile-comment-section .no-review-wrapper #no-review-text-wrapper #shrug-header {
    font-size: 36px;
  }
  .profile-comment-section .no-review-wrapper #no-review-text-wrapper #review-sub #review-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .profile-comment-section article {
    width: 100%;
  }
  .profile-comment-section .uk-comment {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .profile-comment-section .uk-comment #review-comment {
    font-size: 20px;
    max-height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .profile-comment-section .uk-comment #see-more {
    margin-top: -10px;
    text-decoration: none;
    color: #1F232B;
    font-weight: bold;
    font-size: 12px;
  }
  .profile-comment-section .uk-comment #review-rating {
    font-weight: bold;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  .profile-display-wrapper {
    width: 100%;
    height: 600px;
    background: url('/static/images/profile-background.jpg');
    background-position: center;
    position: relative;
  }
  .profile-display-wrapper .background-layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .profile-display-wrapper #profile-image {
    border-radius: 100%;
    height: 190px;
    width: 190px;
  }
  .profile-display-wrapper .profile-avatar-complete {
    margin: 0 auto;
    margin-top: 60px;
    width: 200px;
    height: 200pxpx;
    opacity: 1.0;
  }
  .profile-display-wrapper .profile-avatar-complete .profile-avatar {
    width: 190px;
    height: 190px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
    z-index: 2;
  }
  .profile-display-wrapper .profile-avatar-complete .profile-avatar-surround {
    z-index: 0;
    margin-top: -195px;
    height: 200px;
    width: 200px;
    background-color: #F4F4F4;
    border-radius: 50%;
  }
  .profile-display-wrapper .profile-user-info {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  .profile-display-wrapper .profile-user-info .profile-reps-flames {
    height: 20px;
    margin-top: 120px;
    position: absolute;
  }
  .profile-display-wrapper .profile-user-info .reps-flames-table {
    height: 200px;
    position: relative;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-count {
    color: #F4F4F4;
    text-align: center;
    width: 150px;
    padding: 0;
  }
  .profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-value-cell {
    width: 50%;
    height: 60%;
    font-size: 18px;
    text-align: center;
    color: #F4F4F4;
  }
  .profile-display-wrapper .profile-user-info .reps-flames-table .profile-review-label-cell {
    vertical-align: top;
    font-size: 10px;
    text-align: center;
    color: #F4F4F4;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag {
    position: relative;
    height: 150px;
    width: 100%;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag #gamertag-profile-wrapper {
    margin-top: -200px;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag #profile-reps-flames {
    top: 0px;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-display {
    color: #F4F4F4;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-review-label {
    color: #F4F4F4;
    text-align: center;
    padding: 0;
    font-weight: normal;
  }
  .profile-display-wrapper .profile-user-info .profile-gamertag .gamertag-profile-region-display {
    color: #F4F4F4;
    text-align: center;
    font-size: 24px;
    margin-top: -30px;
  }
  .profile-display-wrapper .profile-user-info .profile-tags {
    width: 100%;
    height: 40px;
    margin-top: 200px;
    padding-bottom: 5px;
    position: absolute;
  }
  .profile-display-wrapper .profile-user-info .profile-tags #tag-table {
    margin-bottom: 3px;
    display: inline;
  }
  .profile-display-wrapper .profile-user-info .profile-tags .gamer-tag-div {
    color: white;
    width: 20%;
    min-width: 100px;
    font-size: 12px;
    height: 20px;
    border: 2px solid #F4F4F4;
    text-align: center;
    border-radius: 10px;
  }
  .review-section {
    width: 100%;
    background-color: #FC4E51;
    display: inline-block;
  }
  .review-section .review-player-header {
    background-color: #d3d3d3;
    height: 60px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #F4F4F4;
  }
  .review-section .review-player-header .review-title {
    color: #000000;
    font-size: 24px;
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  .profile-comment-section-container {
    padding: 0 10px 0 10px;
  }
  .profile-comment-section-container .profile-comment-section {
    width: 100%;
    max-width: 368px;
    max-height: 2000px;
    overflow: auto;
    display: table;
    margin: 0 auto;
    margin-bottom: 0px;
  }
  .profile-comment-section-container .profile-comment-section .review-display {
    background-color: black;
    width: 100%;
  }
  .profile-comment-section-container .profile-comment-section .review-action-bar {
    width: 320px;
    background-color: #ffffff;
    height: 100px;
  }
  .profile-comment-section-container .profile-comment-section .review-action-bar .review-player-button {
    margin-top: 25px;
    width: 150px;
    height: 40px;
    background-color: #FC4E51;
    color: #ffffff;
    border: none;
    text-decoration: none;
  }
  .profile-comment-section-container .profile-comment-section .no-review-wrapper {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    margin: 0 auto;
  }
  .profile-comment-section-container .profile-comment-section .no-review-wrapper #no-review-text-wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .profile-comment-section-container .profile-comment-section .no-review-wrapper #no-review-text-wrapper #shrug-header {
    font-size: 36px;
  }
  .profile-comment-section-container .profile-comment-section .no-review-wrapper #no-review-text-wrapper #x-hasnt-been-reviewed {
    font-size: 20px;
  }
  .profile-comment-section-container .profile-comment-section .no-review-wrapper #no-review-text-wrapper #review-sub {
    font-size: 12px;
  }
  .profile-comment-section-container .profile-comment-section .no-review-wrapper #no-review-text-wrapper #review-sub #review-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .profile-comment-section-container .profile-comment-section article {
    width: 100%;
  }
  .profile-comment-section-container .profile-comment-section .uk-comment {
    min-width: 320px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .profile-comment-section-container .profile-comment-section .uk-comment #review-comment {
    font-size: 20px;
    max-height: 120px;
    min-width: 320px !important;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .profile-comment-section-container .profile-comment-section .uk-comment .uk-comment-meta {
    font-size: 12px;
  }
  .profile-comment-section-container .profile-comment-section .uk-comment #see-more {
    margin-top: -10px;
    text-decoration: none;
    color: #1F232B;
    font-weight: bold;
    font-size: 12px;
  }
  .profile-comment-section-container .profile-comment-section .uk-comment #review-rating {
    font-weight: bold;
    margin-left: 0px;
  }
  .profile-comment-section-container .profile-comment-section .uk-comment #review-card-tag {
    margin-left: 20px;
    padding: 0px;
    font-size: 12px;
  }
}
.content-wrapper {
  background: none;
}
.content-wrapper .player-not-found-wrapper {
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
}
.content-wrapper .player-not-found-wrapper .player-not-found-text1 {
  font-size: 24px;
  color: #2B303A;
  text-align: center;
  margin-top: 40px;
}
.content-wrapper .player-not-found-wrapper .player-not-found-text2 {
  font-size: 14px;
  color: #2B303A;
  text-align: center;
  margin-top: 10px;
}
.content-wrapper .player-not-found-wrapper .player-not-found-text2p2 {
  font-size: 14px;
  color: #2B303A;
  text-align: center;
  margin-top: -15px;
}
.content-wrapper .player-not-found-wrapper p span {
  display: block;
}
.content-wrapper .player-not-found-wrapper .search-bar-container {
  margin: 0 auto;
  width: 368px;
  display: flex;
  height: 36px;
}
.content-wrapper .player-not-found-wrapper .search-bar-container button {
  color: #2B303A;
}
.content-wrapper .player-not-found-wrapper .search-bar-container .game-dropdown {
  position: relative;
  margin-left: 20px;
  background-color: #F4F4F4;
  height: 36px;
  border: solid 1px grey;
  width: 87px;
  text-align: left;
}
.content-wrapper .player-not-found-wrapper .search-bar-container .game-dropdown .icon {
  position: absolute;
  right: 6px;
}
.content-wrapper .player-not-found-wrapper .search-bar-container .search {
  height: 34px;
  background-color: #F4F4F4;
  border: solid 1px grey;
  border-left: none;
  border-right: none;
  padding: 0 7px 0 7px;
  color: #2B303A;
}
.content-wrapper .player-not-found-wrapper .cheeky-dropdown-surround-nav {
  position: relative;
  width: 80px;
  height: 94%;
  background-color: #F4F4F4;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}
.content-wrapper .player-not-found-wrapper .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
  width: 60px;
  height: 22px;
  margin-top: 6px;
  margin-left: 15px;
  font-size: 12px;
  text-align: center;
  background-color: #F4F4F4;
  color: #2B303A;
}
.content-wrapper .player-not-found-wrapper .search-icon {
  background-color: #FC4E51;
  color: #ffffff;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content-wrapper .player-not-found-wrapper .closest-matches-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  color: #9C9C9D;
  text-transform: uppercase;
}
.content-wrapper .player-not-found-wrapper #similar-results {
  left: 50%;
  margin-left: -194px;
  width: 368px;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  .content-wrapper {
    background: none;
  }
  .content-wrapper .player-not-found-wrapper {
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
  }
  .content-wrapper .player-not-found-wrapper .player-not-found-text1 {
    font-size: 24px;
    color: #2B303A;
    text-align: center;
    margin-top: 40px;
  }
  .content-wrapper .player-not-found-wrapper .player-not-found-text2 {
    font-size: 14px;
    color: #2B303A;
    text-align: center;
    margin-top: 10px;
  }
  .content-wrapper .player-not-found-wrapper .player-not-found-text2p2 {
    font-size: 14px;
    color: #2B303A;
    text-align: center;
    margin-top: -15px;
  }
  .content-wrapper .player-not-found-wrapper p span {
    display: block;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container {
    margin: 0 auto;
    width: 320px;
    display: flex;
    height: 36px;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container button {
    color: #2B303A;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container .game-dropdown {
    position: relative;
    margin-left: 20px;
    background-color: #F4F4F4;
    height: 36px;
    border: solid 1px grey;
    width: 65px;
    text-align: left;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container .game-dropdown .icon {
    position: absolute;
    right: 6px;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container .search {
    width: 100px;
    height: 34px;
    background-color: #F4F4F4;
    border: solid 1px grey;
    border-left: none;
    border-right: none;
    padding: 0 7px 0 7px;
    color: #2B303A;
  }
  .content-wrapper .player-not-found-wrapper .cheeky-dropdown-surround-nav {
    position: relative;
    width: 80px;
    height: 94%;
    background-color: #F4F4F4;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
  }
  .content-wrapper .player-not-found-wrapper .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
    width: 60px;
    height: 22px;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 12px;
    text-align: center;
    background-color: #F4F4F4;
    color: #2B303A;
  }
  .content-wrapper .player-not-found-wrapper .search-icon {
    background-color: #FC4E51;
    color: #ffffff;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .content-wrapper .player-not-found-wrapper .closest-matches-text {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    color: #9C9C9D;
  }
  .content-wrapper .player-not-found-wrapper #similar-results {
    left: 50%;
    margin-left: -194px;
    width: 368px;
    text-align: center;
  }
}
#player-card-container {
  color: #1F232B;
  display: inline-block;
  width: 300px;
  min-width: 300px;
  height: 350px;
  min-height: 75px;
  margin: 35px 0px 35px 35px;
  border: 1px solid #CDDDDD;
  z-index: 10;
}
#player-card-container .header {
  background-color: #F4F4F4;
  color: #1F232B;
  height: 100px;
}
#player-card-container .avatar {
  position: relative;
  margin-top: 0px;
  margin-left: 75px;
  height: 150px;
  width: 150px;
  border-radius: 25vw;
  z-index: 1;
}
#player-card-container .avatar-surround {
  z-index: 0;
  position: relative;
  margin-top: -155px;
  margin-left: 70px;
  height: 160px;
  width: 160px;
  background-color: #ffffff;
  border-radius: 25vw;
}
#player-card-container .region-tag {
  margin-left: 5px;
  position: relative;
  color: #4E5156;
}
#player-card-container .body {
  margin-top: 80px;
  display: table;
  background-color: #ffffff;
  height: 135px;
  width: 300px;
  vertical-align: middle;
}
#player-card-container .body .username {
  padding-top: px;
  width: 300px;
  display: inline-block;
  margin-left: auto;
  text-align: center;
  font-size: 22px;
  color: #1F232B;
}
#player-card-container .body .review-table {
  width: 200px;
  margin: 0 auto;
}
#player-card-container .body .review-table .review-table-row {
  height: 30px;
}
#player-card-container .body .review-table .review-table-row .review-table-cell {
  color: #4E5156;
  text-align: center;
}
#player-card-container .view-profile {
  margin-top: -3px;
  position: relative;
  font-size: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #4E5156;
  border-bottom: 2px solid #CDDDDD;
  border-top: 2px solid #CDDDDD;
  height: 35px;
}
#player-card-container .uk-button {
  width: 100%;
  height: 100%;
}
.results-list {
  width: 100%;
  height: 100%;
  margin: auto;
}
#review-modal p {
  margin: 5px 0 8px 0;
}
#review-modal .review-type-container {
  display: flex;
  justify-content: center;
}
#review-modal .up-button {
  width: 48%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 18px 0 0;
}
#review-modal .up-button .text {
  font-weight: bold;
}
#review-modal .down-button {
  width: 48%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#review-modal .down-button .text {
  font-weight: bold;
}
#review-modal .tags-dropdown-container {
  width: 100%;
}
#review-modal .tags-dropdown-container .dropdown-button {
  width: 100%;
  height: 60px;
}
#review-modal .tag-label {
  font-size: 12px;
}
#review-modal .tag-checkbox {
  margin-right: 12px;
}
#review-modal .dropdown-icon {
  position: absolute;
  right: 13px;
  top: 16px;
}
#review-modal .tags-dropdown {
  padding-left: 0;
}
#review-modal .tags-list {
  position: absolute;
  top: 10px;
  left: 35px;
}
#review-modal .tag {
  margin: 0 10px 0 0;
  font-size: 10px;
  padding: 0px 7px 0 13px;
  background-color: #F3EFEF;
}
#review-modal .tag .text {
  margin: 0 5px 0 0;
}
#review-modal .list-elem {
  list-style-type: none;
}
#review-modal .tags-textarea {
  height: 170px;
  padding: 13px 0 0 17px;
  font-size: 12px;
}
#review-modal .review-remaining {
  margin: 10px 0 0 0;
  font-size: 10px;
}
#review-modal .submit {
  width: 100%;
  background-color: #FC4E51;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 17px;
  margin: 16px 0 0 0;
  height: 54px;
}
.footer-wrapper {
  float: none;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #2B303A;
}
.footer-wrapper #footer-text-wrapper {
  position: relative;
  margin-top: 30px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
}
.footer-wrapper #footer-text-wrapper #footer-text {
  margin-bottom: 15px;
  float: left;
  width: 125px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-wrapper #footer-text-wrapper #footer-languages {
  margin-bottom: 15px;
  float: left;
  width: 125px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-wrapper #footer-text-wrapper #footer-social {
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffffff;
}
.footer-wrapper #footer-text-wrapper #footer-social #discord-icon {
  text-decoration: none;
  height: 20px;
  width: 20px;
}
.footer-wrapper #footer-text-wrapper #gs-copyright {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 10px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1290px) {
  .footer-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #2B303A;
  }
  .footer-wrapper #footer-text-wrapper {
    position: relative;
    margin-top: 30px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
  }
  .footer-wrapper #footer-text-wrapper #footer-text {
    float: left;
    width: 125px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }
  .footer-wrapper #footer-text-wrapper #footer-languages {
    margin-bottom: 15px;
    float: left;
    width: 125px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }
  .footer-wrapper #footer-text-wrapper #footer-social {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .footer-wrapper #footer-text-wrapper #footer-social #discord-icon {
    height: 20px;
    width: 20px;
    display: inline;
  }
  .footer-wrapper #footer-text-wrapper #gs-copyright {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  .footer-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #2B303A;
  }
  .footer-wrapper #footer-text-wrapper {
    position: relative;
    margin-top: 30px;
    width: 368px;
    left: 50%;
    margin-left: -184px;
  }
  .footer-wrapper #footer-text-wrapper #footer-text {
    margin-bottom: 15px;
    width: 368px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
  }
  .footer-wrapper #footer-text-wrapper #footer-languages {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 368px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
  }
}
.content-wrapper-fof {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-height: 100%;
  background-color: #ffffff;
}
.content-wrapper-fof .fof-wrapper {
  height: 720px;
  text-align: center;
}
.content-wrapper-fof .fof-wrapper #fof {
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
  color: #2B303A;
}
.content-wrapper-fof .fof-wrapper #fof-invaders {
  margin-top: -20px;
  font-size: 24px;
  font-weight: bold;
  color: #2B303A;
}
.content-wrapper-fof .fof-wrapper #fof-image-wrapper #fof-image {
  width: 368px;
  height: 368px;
}
.content-wrapper-fof .fof-wrapper .uk-button {
  width: 240px;
  background: #2B303A;
}
.gamer-list-wrapper {
  margin-top: 50px;
  margin: 0 auto;
  width: 250px;
  height: 100%;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}
.gamer-list-wrapper #indiviudal-list-item {
  width: 100%;
  height: 50px;
  border-top: 1px solid #d3d3d3;
}
.gamer-list-wrapper #indiviudal-list-item #list-avatar {
  float: left;
  height: 50px;
  width: 50px;
}
.gamer-list-wrapper #indiviudal-list-item #list-avatar #list-image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-top: 5px;
}
.gamer-list-wrapper #indiviudal-list-item #list-player-details {
  float: left;
  margin-left: 20px;
}
.gamer-list-wrapper #indiviudal-list-item #list-player-details #list-gamertag {
  font-size: 14px;
  position: absolute;
}
.gamer-list-wrapper #indiviudal-list-item #list-player-details #list-region {
  position: absolute;
  margin-top: 18px;
  font-size: 12px;
}
.content-wrapper-tos {
  height: 100%;
  width: 100%;
}
.content-wrapper-tos #tos-top-bar {
  width: 100%;
  height: 66px;
  background-color: #F4F4F4;
}
.content-wrapper-tos #tos-top-bar #tos-links-wrapper {
  text-align: center;
  margin-top: -18px;
}
.content-wrapper-tos #tos-top-bar #tos-links-wrapper #tos-links {
  position: inline-block;
}
.content-wrapper-tos #tos-top-bar #tos-links-wrapper #tos-links #terms-link {
  color: #4E5156;
  text-decoration: none;
  border-bottom: 2px solid red;
}
.content-wrapper-tos #tos-top-bar #tos-links-wrapper #tos-links #pp-link {
  color: #4E5156;
  margin-left: 20px;
  text-decoration: none;
}
.content-wrapper-tos #tos-body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.content-wrapper-tos #tos-body #tos-content {
  margin: 0 auto;
  margin-top: 35px;
  max-width: 700px;
}
.content-wrapper-tos #tos-body #pp-content {
  display: none;
  margin: 0 auto;
  margin-top: 35px;
  max-width: 700px;
}
p.legal-text {
  font-size: 5px;
}
.content-wrapper-account {
  height: 100%;
  width: 100%;
}
.content-wrapper-account #account-top-bar {
  width: 100%;
  height: 66px;
  background-color: #F4F4F4;
}
.content-wrapper-account #account-top-bar #account-links-wrapper {
  text-align: center;
  margin-top: -18px;
}
.content-wrapper-account #account-top-bar #account-links-wrapper #account-links {
  position: inline-block;
}
.content-wrapper-account #account-top-bar #account-links-wrapper #account-links #settings-link {
  color: #4E5156;
  text-decoration: none;
  border-bottom: 2px solid red;
}
.content-wrapper-account #account-top-bar #account-links-wrapper #account-links #cp-link {
  color: #4E5156;
  margin-left: 20px;
  text-decoration: none;
}
.content-wrapper-account #account-body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.content-wrapper-account #account-body h4 {
  margin-top: 10px;
}
.content-wrapper-account #account-body #settings-content {
  margin: 0 auto;
  margin-top: 35px;
  max-width: 500px;
}
.content-wrapper-account #account-body #settings-content p {
  margin-top: -20px;
  font-size: 12px;
  margin-bottom: 20px;
}
.content-wrapper-account #account-body #settings-content .uk-inline {
  width: 100%;
}
.content-wrapper-account #account-body #cp-content {
  display: none;
  margin: 0 auto;
  margin-top: 35px;
  max-width: 700px;
}
.content-wrapper-account #account-body button {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #273043;
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  .content-wrapper-account {
    margin-bottom: 100px;
  }
}
