html {
  font-family: 'Proxima Nova' !important;
  background: #2B303A !important;
  min-width: 345px;
}
body {
  margin: 0;
  background-color: #ffffff;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
p {
  font-size: 14px;
}
label {
  font-size: 20px;
}
li {
  font-size: 14px;
}
input {
  outline: none;
  letter-spacing: 1px;
}
input:hover {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.uk-form-danger,
.uk-form-danger:focus {
  color: #f0506e !important;
  border-color: #f0506e !important;
}
button {
  border-width: 2px;
  border-radius: 0;
  outline: none;
}
button:hover {
  cursor: pointer;
}
.input-error-msg {
  color: #EE5270;
}
textarea::-webkit-input-placeholder {
  color: #9C9C9D;
}
.hidden {
  position: absolute;
}
.line-break {
  border: 1px solid #E5E5E5;
  width: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.common-table-header-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}
.common-table-header-selector .selector {
  z-index: 1;
  color: #ffffff;
  font-size: 14px;
  height: 25px;
  text-decoration: none;
}
.common-table-header-selector .selected {
  border-bottom: 2px solid #FF4C4C;
}
.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-wrapper .search-section-wrapper {
  padding: 0;
  background: url('/static/images/home-background.jpg');
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-color: #2B303A;
}
.content-wrapper .search-section-wrapper .search-container {
  display: flex;
}
.content-wrapper .search-section-wrapper .search-container .game-dropdown {
  position: relative;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #F4F4F4;
  color: #000000;
  text-align: left;
  display: flex;
  padding-left: 19px;
  padding-right: 19px;
  align-items: center;
}
.content-wrapper .search-section-wrapper .search-container #game-dropdown-icn {
  position: absolute;
  top: 16px;
  right: 12px;
  color: #9C9C9D;
}
.content-wrapper .search-section-wrapper .search-container #region-dropdown-icon {
  color: #ffffff;
}
.content-wrapper .search-section-wrapper .search-container .search {
  color: #000000;
  padding-left: 19px;
  padding-right: 19px;
  width: 240px;
  border: none;
}
.content-wrapper .search-section-wrapper .search-container .search-button {
  width: 130px;
  background-color: #FC4E51;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 17px;
}
.content-wrapper .search-section-wrapper .search-container .cheeky-dropdown-surround {
  width: 80px;
  height: 50px;
  background-color: #ffffff;
}
.content-wrapper .search-section-wrapper .search-container .uk-form-custom {
  margin-top: 13px;
  width: 60px;
  height: 24px;
  font-size: 12px;
  text-align: center;
  background-color: #2B303A;
  color: #ffffff;
}
.content-wrapper .search-section-wrapper .search-text-1 {
  color: #ffffff;
  width: 580px;
  text-align: center;
  font-size: 28px;
}
.content-wrapper .search-section-wrapper .search-text-2 {
  color: #ffffff;
  font-size: 13px;
}
.content-wrapper .featured-section-wrapper {
  padding: 0;
  width: 100%;
}
.content-wrapper .featured-section-wrapper .title-bandeau {
  width: 100vw;
}
.content-wrapper .featured-section-wrapper .title-bandeau .title-text {
  color: #ffffff;
  background-color: #2B303A;
  padding: 10px 0 10px 0;
  text-align: center;
}
.content-wrapper .featured-section-wrapper .featured-list {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  background-color: white;
  min-height: 312px;
  margin-bottom: 26px;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1290px) {
  .content-wrapper {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-wrapper .search-section-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    background: url('/static/images/home-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2B303A;
  }
  .content-wrapper .search-section-wrapper .search-container {
    display: flex;
  }
  .content-wrapper .search-section-wrapper .search-container .game-dropdown {
    position: relative;
    width: 180px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #F4F4F4;
    color: #000000;
    text-align: left;
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
    align-items: center;
  }
  .content-wrapper .search-section-wrapper .search-container #game-dropdown-icn {
    position: absolute;
    top: 16px;
    right: 12px;
    color: #9C9C9D;
  }
  .content-wrapper .search-section-wrapper .search-container #region-dropdown-icon {
    color: #ffffff;
  }
  .content-wrapper .search-section-wrapper .search-container .search {
    color: #000000;
    padding-left: 19px;
    padding-right: 19px;
    width: 240px;
    border: none;
  }
  .content-wrapper .search-section-wrapper .search-container .search-button {
    width: 130px;
    background-color: #FC4E51;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
  }
  .content-wrapper .search-section-wrapper .search-container .cheeky-dropdown-surround {
    width: 80px;
    height: 50px;
    background-color: #ffffff;
  }
  .content-wrapper .search-section-wrapper .search-container .uk-form-custom {
    margin-top: 13px;
    width: 60px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    background-color: #2B303A;
    color: #ffffff;
  }
  .content-wrapper .search-section-wrapper .search-text-1 {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
  }
  .content-wrapper .search-section-wrapper .search-text-2 {
    color: #ffffff;
    font-size: 13px;
  }
  .content-wrapper .featured-section-wrapper {
    padding: 0;
    height: 400px;
  }
  .content-wrapper .featured-section-wrapper .title-bandeau {
    background-color: #2B303A;
    height: 65px;
    width: 100vw;
  }
  .content-wrapper .featured-section-wrapper .title-bandeau .title-text {
    color: #ffffff;
    background-color: #2B303A;
    padding: 10px 0 0 0;
    text-align: center;
  }
  .content-wrapper .featured-section-wrapper .featured-list {
    overflow-x: scroll;
    margin-top: 10px;
    display: flex;
    background-color: white;
    width: 100vw;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  html .content-wrapper,
  body .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/static/images/home-background.jpg');
    background-height: 100%;
    background-repeat: no-repeat;
    background-color: #2B303A;
  }
  html .content-wrapper .search-section-wrapper,
  body .content-wrapper .search-section-wrapper {
    min-height: 500px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: transparent;
  }
  html .content-wrapper .search-section-wrapper .search-container,
  body .content-wrapper .search-section-wrapper .search-container {
    position: relative;
    width: 320px;
    display: flex;
  }
  html .content-wrapper .search-section-wrapper .search-container .game-dropdown,
  body .content-wrapper .search-section-wrapper .search-container .game-dropdown {
    position: absolute;
    width: 320px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #F4F4F4;
    color: #000000;
    text-align: left;
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
    align-items: center;
  }
  html .content-wrapper .search-section-wrapper .search-container #game-dropdown-icn,
  body .content-wrapper .search-section-wrapper .search-container #game-dropdown-icn {
    position: absolute;
    top: 16px;
    right: 12px;
    color: #9C9C9D;
  }
  html .content-wrapper .search-section-wrapper .search-container #region-dropdown-icon,
  body .content-wrapper .search-section-wrapper .search-container #region-dropdown-icon {
    color: #ffffff;
  }
  html .content-wrapper .search-section-wrapper .search-container .search,
  body .content-wrapper .search-section-wrapper .search-container .search {
    -webkit-border-radius: 0;
    border-radius: 0 !important;
    color: #000000;
    margin-top: 60px;
    width: 282px;
    height: 60px;
    border: none;
    position: absolute;
  }
  html .content-wrapper .search-section-wrapper .search-container .search-button,
  body .content-wrapper .search-section-wrapper .search-container .search-button {
    position: absolute;
    margin-top: 120px;
    height: 60px;
    width: 320px;
    background-color: #FC4E51;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
  }
  html .content-wrapper .search-section-wrapper .search-container .cheeky-dropdown-surround,
  body .content-wrapper .search-section-wrapper .search-container .cheeky-dropdown-surround {
    margin-left: 240px;
    width: 80px;
    margin-top: 61px;
    height: 58px;
    background-color: #ffffff;
  }
  html .content-wrapper .search-section-wrapper .search-container .uk-form-custom,
  body .content-wrapper .search-section-wrapper .search-container .uk-form-custom {
    margin-top: 13px;
    width: 60px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    background-color: #2B303A;
    color: #ffffff;
  }
  html .content-wrapper .search-section-wrapper .search-text-1,
  body .content-wrapper .search-section-wrapper .search-text-1 {
    width: 320px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
  }
  html .content-wrapper .search-section-wrapper .search-text-2,
  body .content-wrapper .search-section-wrapper .search-text-2 {
    margin-top: 100px;
    width: 320px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
  }
  html .content-wrapper .featured-section-wrapper,
  body .content-wrapper .featured-section-wrapper {
    padding: 0;
    min-height: 100px;
    background-color: #ffffff;
  }
  html .content-wrapper .featured-section-wrapper .title-bandeau,
  body .content-wrapper .featured-section-wrapper .title-bandeau {
    width: 100%;
  }
  html .content-wrapper .featured-section-wrapper .title-bandeau .title-text,
  body .content-wrapper .featured-section-wrapper .title-bandeau .title-text {
    color: #ffffff;
    background-color: #2B303A;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  html .content-wrapper .featured-section-wrapper .featured-list,
  body .content-wrapper .featured-section-wrapper .featured-list {
    display: inline-block;
    overflow-x: auto;
    display: flex;
    background-color: white;
  }
}
#forgot-pwd-modal .forgot-pwd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#forgot-pwd-modal .title {
  margin-bottom: 70px;
}
#forgot-pwd-modal .subtitle {
  text-align: center;
  margin: 0 0 50px 0;
}
#forgot-pwd-modal .input-container {
  width: 100%;
  position: relative;
}
#forgot-pwd-modal .forgot-pwd-email {
  margin: 0 0 0 0;
  height: 50px;
  padding-left: 42px;
}
#forgot-pwd-modal .form-container,
#forgot-pwd-modal .email-confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#forgot-pwd-modal .submit-forgot-pwd {
  margin-top: 80px;
  background-color: #FC4E51;
  width: 100%;
}
#forgot-pwd-modal .submit-text {
  color: #ffffff;
}
#forgot-pwd-modal .close-btn {
  margin-top: 80px;
  background-color: #273043;
  width: 100%;
  position: relative!important;
}
#forgot-pwd-modal .close-btn-text {
  color: #ffffff;
}
#forgot-pwd-modal .email-icon {
  position: absolute;
  top: 16px;
  left: 15px;
  color: #9C9C9D;
}
#forgot-pwd-modal .modal-content {
  padding: 0 71px 0 71px;
}
#top-menu {
  width: 100%;
  height: 60px;
  background-color: #2B303A;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 0 0 0;
  border-bottom: 2px solid #FC4E51;
}
#top-menu .title {
  display: block;
  text-indent: -9999px;
  margin-left: 18px;
  width: 120px;
  height: auto;
  background-image: url('/static/images/gs-logo.svg');
  background-size: 120px 75px;
  background-position: absolute;
  background-repeat: no-repeat;
}
#top-menu .username {
  position: absolute;
  right: 80px;
  top: 18px;
  color: #ffffff;
}
#top-menu .no-svg .title {
  background-image: url('/static/images/gs-logo.png');
}
#top-menu .logout {
  position: absolute;
  margin-right: 18px;
  color: #ffffff;
  display: none;
}
#top-menu .search-bar-container {
  display: flex;
  height: 30px;
}
#top-menu .search-bar-container button {
  color: #ffffff;
}
#top-menu .search-bar-container .game-dropdown {
  position: relative;
  margin-left: 20px;
  background-color: #1F232B;
  height: 30px;
  border: solid 1px grey;
  width: 165px;
  text-align: left;
}
#top-menu .search-bar-container .game-dropdown .icon {
  position: absolute;
  right: 6px;
}
#top-menu .search-bar-container .search {
  max-height: 30px;
  background-color: #1F232B;
  border: solid 1px grey;
  border-left: none;
  border-right: none;
  padding: 0 7px 0 7px;
  color: #ffffff;
}
#top-menu .cheeky-dropdown-surround-nav {
  position: relative;
  width: 72px;
  height: 94%;
  background-color: #1F232B;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}
#top-menu .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
  width: 50px;
  height: 20px;
  margin-left: 15px;
  font-size: 12px;
  text-align: center;
  background-color: #44484D;
  color: #ffffff;
}
#top-menu .search-icon {
  background-color: #FC4E51;
  color: #ffffff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#top-menu #navbar-mobile-search {
  color: #ffffff;
  display: inline;
  width: 36px;
  height: 36px;
  cursor: pointer;
  right: 60px;
  background-color: #2B303A;
  position: absolute;
  display: none;
}
#top-menu .hamburger-menu-icon {
  width: 36px;
  height: 30px;
  cursor: pointer;
  color: #ffffff;
  background: #2B303A;
  position: absolute;
  right: 20px;
  display: none;
}
#top-menu .signin-signup-container {
  position: absolute;
  right: 18px;
  top: 17px;
}
#top-menu .signin-signup-container button {
  color: #ffffff;
}
#top-menu .signin-signup-container .signup {
  width: 121px;
  height: 30px;
  margin-left: 5px;
  padding: 0;
  line-height: 1;
  font-size: 13;
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  #top-menu {
    width: 100%;
    height: 70px;
    background-color: #2B303A;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0 0 0 0;
    border-bottom: 2px solid #FC4E51;
  }
  #top-menu .title {
    margin-left: 10px;
  }
  #top-menu .no-svg .title {
    background-image: url('/static/images/gs-logo.png');
  }
  #top-menu .logout {
    display: none;
    position: absolute;
    right: 18px;
    color: #ffffff;
  }
  #top-menu .search-bar-container {
    display: none;
    height: 30px;
  }
  #top-menu .search-bar-container button {
    color: #ffffff;
  }
  #top-menu .search-bar-container .game-dropdown {
    position: relative;
    margin-left: 20px;
    background-color: #1F232B;
    height: 30px;
    border: solid 1px grey;
    width: 165px;
    text-align: left;
  }
  #top-menu .search-bar-container .game-dropdown .icon {
    position: absolute;
    right: 6px;
  }
  #top-menu .search-bar-container .search {
    display: none;
    height: 30px;
    background-color: #1F232B;
    border: solid 1px grey;
    border-left: none;
    border-right: none;
    padding: 0 7px 0 7px;
    color: #ffffff;
  }
  #top-menu .search-bar-container .cheeky-dropdown-surround-nav {
    position: relative;
    width: 80px;
    height: 95%;
    background-color: #1F232B;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
  }
  #top-menu .search-bar-container .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
    width: 60px;
    height: 22px;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 12px;
    text-align: center;
    background-color: #2B303A;
    color: #ffffff;
  }
  #top-menu .search-icon {
    display: none;
    background-color: #FC4E51;
    color: #ffffff;
    width: 36px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #top-menu #navbar-mobile-search {
    color: #ffffff;
    display: inline;
    width: 36px;
    height: 36px;
    cursor: pointer;
    right: 60px;
    background-color: #2B303A;
    position: absolute;
  }
  #top-menu .hamburger-menu-icon {
    color: #ffffff;
    display: inline;
    width: 36px;
    height: 30px;
    cursor: pointer;
    background-color: #2B303A;
    position: absolute;
  }
  #top-menu #hamburger-menu-anchor {
    display: inline;
  }
  #top-menu uk-icon {
    text-decoration: none;
  }
  #top-menu .signin-signup-container {
    display: none;
    position: absolute;
    right: 18px;
  }
  #top-menu .signin-signup-container button {
    color: #ffffff;
  }
  #top-menu .signin-signup-container .signup {
    margin-left: 5px;
  }
}
/*Stuff for the mobile search*/
#top-menu-mobile {
  width: 100%;
  height: 70px;
  background-color: #2B303A;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 0 0 0;
  border-bottom: 2px solid #FC4E51;
}
#top-menu-mobile #back-icon {
  color: white;
  margin-right: -15px;
}
#top-menu-mobile .title {
  display: block;
  text-indent: -9999px;
  margin-left: 18px;
  width: 120px;
  height: auto;
  background-image: url('/static/images/gs-logo.svg');
  background-size: 120px 75px;
  background-position: absolute;
  background-repeat: no-repeat;
}
#top-menu-mobile .no-svg .title {
  background-image: url('/static/images/gs-logo.png');
}
#top-menu-mobile .logout {
  position: absolute;
  margin-right: 18px;
  color: #ffffff;
  display: none;
}
#top-menu-mobile .search-bar-container {
  display: flex;
  height: 36px;
}
#top-menu-mobile .search-bar-container button {
  color: #ffffff;
}
#top-menu-mobile .search-bar-container .game-dropdown {
  position: relative;
  margin-left: 20px;
  background-color: #1F232B;
  height: 36px;
  border: solid 1px grey;
  width: 60px;
  text-align: left;
}
#top-menu-mobile .search-bar-container .game-dropdown .icon {
  position: absolute;
  right: 6px;
}
#top-menu-mobile .search-bar-container .search {
  height: 34px;
  background-color: #1F232B;
  border: solid 1px grey;
  border-left: none;
  border-right: none;
  padding: 0 7px 0 7px;
  color: #ffffff;
}
#top-menu-mobile .cheeky-dropdown-surround-nav {
  position: relative;
  width: 80px;
  height: 94%;
  background-color: #1F232B;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}
#top-menu-mobile .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
  width: 60px;
  height: 22px;
  margin-top: 6px;
  margin-left: 15px;
  font-size: 12px;
  text-align: center;
  background-color: #2B303A;
  color: #ffffff;
}
#top-menu-mobile .search-icon {
  background-color: #FC4E51;
  color: #ffffff;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#top-menu-mobile .hamburger-menu-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  color: #ffffff;
  background: #2B303A;
  position: absolute;
  right: 20px;
  display: none;
}
#top-menu-mobile .signin-signup-container {
  position: absolute;
  right: 18px;
}
#top-menu-mobile .signin-signup-container button {
  color: #ffffff;
}
#top-menu-mobile .signin-signup-container .signup {
  margin-left: 5px;
}
.recent-view-item-container {
  background: #2B303A;
  min-width: 270px;
  max-width: 270px;
  margin: 10px 3px 5px 10px;
  border: 1px solid #CDDDDD;
  transition: all 0.3s ease;
}
.recent-view-item-container:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.recent-view-item-container .header {
  background-color: #F4F4F4;
  height: 110px;
  padding: 10px;
}
.recent-view-item-container .header .platform {
  font-size: 13px;
}
.recent-view-item-container .body {
  background-color: #ffffff;
  height: 185px;
}
.recent-view-item-container .body .profile-picture-container {
  position: relative;
}
.recent-view-item-container .body .profile-picture-container .profile-picture {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 80px;
  top: -72px;
  right: 23%;
  border: solid 6px white;
}
.recent-view-item-container .body .player-informations {
  display: flex;
  justify-content: center;
}
.recent-view-item-container .body .gamertag {
  font-weight: bold;
  margin-top: 10px;
  font-size: 42px;
  margin: 67px 0 0 0;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1290px) {
  .recent-view-item-container {
    background: #ffffff;
    min-width: 270px;
    max-width: 270px;
    margin: 10px 3px 5px 10px;
    border: 1px solid #CDDDDD;
    transition: all 0.3s ease;
  }
  .recent-view-item-container:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
  .recent-view-item-container .header {
    background-color: #F4F4F4;
    height: 110px;
    padding: 10px;
  }
  .recent-view-item-container .header .platform {
    font-size: 13px;
  }
  .recent-view-item-container .body {
    background-color: #ffffff;
    height: 185px;
  }
  .recent-view-item-container .body .profile-picture-container {
    position: relative;
  }
  .recent-view-item-container .body .profile-picture-container .profile-picture {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 80px;
    top: -72px;
    right: 23%;
    border: solid 6px white;
  }
  .recent-view-item-container .body .player-informations {
    display: flex;
    justify-content: center;
  }
  .recent-view-item-container .body .gamertag {
    font-weight: bold;
    margin-top: 10px;
    font-size: 42px;
    margin: 67px 0 0 0;
  }
  #featured-div-2 {
    display: none;
  }
}
#signup-signin-modal input {
  position: relative;
  font-size: 14px;
  padding-left: 33px;
}
#signup-signin-modal .input-container {
  position: relative;
}
#signup-signin-modal .input-icon {
  position: absolute;
  top: 18px;
  left: 8px;
  color: #858585;
}
#signup-signin-modal .signin-mode {
  width: 332px;
}
#signup-signin-modal .g-recaptcha {
  margin-top: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#signup-signin-modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 440px;
}
#signup-signin-modal .modal-body .forgot-pwd {
  font-size: 12px;
}
#signup-signin-modal .modal-body .modal-content p {
  color: #000000;
}
#signup-signin-modal .modal-body .modal-content .tip {
  text-align: left;
  margin: 0;
  color: #858585;
  font-size: 11px;
}
#signup-signin-modal .modal-body .modal-content .checkbox-container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
}
#signup-signin-modal .modal-body .modal-content .email {
  height: 55px;
  margin-bottom: 5px;
}
#signup-signin-modal .modal-body .modal-content .displayname {
  height: 55px;
  margin-bottom: 5px;
}
#signup-signin-modal .modal-body .modal-content .password {
  height: 55px;
  margin-bottom: 5px;
}
#signup-signin-modal .modal-body .modal-content .submit {
  width: 100%;
  background-color: #FC4E51;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 16px 0 0 0;
  height: 54px;
}
#signup-signin-modal .modal-body .modal-content .or {
  text-align: center;
  color: #858585;
  font-size: 11px;
  text-transform: uppercase;
  margin: 15px;
}
#signup-signin-modal .modal-body .modal-content .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup-signin-modal .modal-body .modal-content .facebook-btn {
  color: #ffffff;
  width: 150px;
  height: 50px;
  margin: 0 1px 0 0;
  background-color: #3C5A96;
  border: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup-signin-modal .modal-body .modal-content .fb-lbl {
  margin-left: 10px;
}
#signup-signin-modal .modal-body .modal-content .twitter {
  color: #ffffff;
  width: 49%;
  height: 50px;
  background-color: #2AA3EF;
  border: none;
}
#signup-signin-modal .modal-body .modal-content .input-error-msg {
  visibility: hidden;
}
#signup-signin-modal .modal-body .modal-content .form-alert {
  margin-bottom: 10px;
  font-size: 11px;
  height: 30px;
}
#signup-signin-modal .modal-body .modal-content .ua-checkbox-wrapper {
  margin-top: 15px;
}
#signup-signin-modal .modal-body .modal-content .user-agreement-label {
  margin-top: 5px;
  font-size: 12px;
  display: block;
  color: #858585;
}
#signup-signin-modal .modal-body .modal-content .user-agreement-text {
  text-align: center;
  margin-bottom: 0;
  color: #858585;
  height: 32vh;
  font-size: 12px;
  overflow-y: auto;
  margin-top: 25px;
  text-align: justify;
}
.profile-content-wrapper {
  background-color: #2B303A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 15px 0;
}
.profile-display-wrapper {
  width: 100%;
  text-align: center;
  min-height: 236px;
  background: url('/static/images/profile-background.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-position-y: -159px;
  background-size: 1080px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.profile-display-wrapper .background-gradient {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.profile-display-wrapper .background-gradient .top-section {
  width: 100%;
  height: 100%;
  display: flex;
}
.profile-display-wrapper .background-gradient .top-section .left-gr {
  background: linear-gradient(to right, #2b303a 0%, #2b303a 25%, rgba(43, 48, 58, 0.3) 100%);
  width: 50%;
  height: 100%;
}
.profile-display-wrapper .background-gradient .top-section .right-gr {
  background: linear-gradient(to left, #2b303a 0%, #2b303a 25%, rgba(43, 48, 58, 0.3) 100%);
  width: 50%;
  height: 100%;
}
.profile-display-wrapper .background-gradient .bottom-gr {
  background: linear-gradient(to top, #2b303a 0, rgba(43, 48, 58, 0.2) 20%, rgba(43, 48, 58, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
}
.profile-display-wrapper #profile-image {
  border-radius: 100%;
  height: 75px;
  width: 75px;
}
.profile-display-wrapper .profile-avatar-complete {
  margin: 40px 0 0 0;
  position: relative;
  display: flex;
  width: 959px;
}
.profile-display-wrapper .profile-avatar-complete .profile-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 2px #6E6E6E;
}
.profile-display-wrapper .profile-avatar-complete .user-level {
  width: 20px;
  height: 20px;
  background: #2B303A;
  border-radius: 25px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: solid 1px #6E6E6E;
  position: absolute;
  top: 52px;
  left: 56px;
}
.profile-display-wrapper .profile-avatar-complete .user-info {
  text-align: start;
  margin: 0 0 0 18px;
}
.profile-display-wrapper .profile-avatar-complete .user-info .gamertag {
  color: #ffffff;
  font-size: 24px;
}
.profile-display-wrapper .profile-avatar-complete .user-info .region {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}
.profile-display-wrapper .user-actions-container {
  display: flex;
  width: 959px;
  position: relative;
  justify-content: flex-end;
}
.profile-display-wrapper .user-actions-container .user-actions {
  display: flex;
}
.profile-display-wrapper .user-actions-container .action {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.profile-display-wrapper .user-actions-container .action .action-icn {
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
.profile-display-wrapper .user-actions-container .action .review {
  background-image: url('/static/images/pencil.svg');
}
.profile-display-wrapper .user-actions-container .action .subscribe {
  background-image: url('/static/images/bell.svg');
}
.profile-display-wrapper .user-actions-container .action .share {
  background-image: url('/static/images/share.svg');
}
.profile-display-wrapper .user-actions-container .action .action-text {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 10px;
}
.profile-display-wrapper .user-actions-container .action .share-text {
  margin-right: 0px;
}
.profile-display-wrapper .profile-table-header-selector {
  margin-top: 54px;
}
.profile-display-wrapper .profile-table-header-selector .summary {
  margin-right: 12px;
}
.profile-display-wrapper .profile-table-header-selector .leagues {
  margin-left: 12px;
}
#profile-setup-modal .modal-body {
  width: 440px;
  min-height: 344px;
}
#profile-setup-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 234px;
}
#profile-setup-modal .title {
  text-align: center;
}
#profile-setup-modal .small-text {
  color: #858585;
  font-size: 10px;
  margin: 0;
}
#profile-setup-modal .display-name-container {
  width: 100%;
}
#profile-setup-modal .input-container {
  position: relative;
  width: 100%;
}
#profile-setup-modal .display-name-input {
  width: 100%;
  height: 50px;
  padding-left: 40px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #d3d3d3;
  margin: 3px 0 0 0;
}
#profile-setup-modal .icon-user {
  position: absolute;
  top: 16px;
  left: 10px;
  color: #9F9F9F;
}
#profile-setup-modal #profil-setup-submit {
  width: 100%;
  height: 50px;
  background: #273043;
  color: #ffffff;
}
.content-wrapper {
  background: none;
}
.content-wrapper .player-not-found-wrapper {
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
}
.content-wrapper .player-not-found-wrapper .player-not-found-text1 {
  font-size: 24px;
  color: #2B303A;
  text-align: center;
  margin-top: 40px;
}
.content-wrapper .player-not-found-wrapper .player-not-found-text2 {
  font-size: 14px;
  color: #2B303A;
  text-align: center;
  margin-top: 10px;
}
.content-wrapper .player-not-found-wrapper .player-not-found-text2p2 {
  font-size: 14px;
  color: #2B303A;
  text-align: center;
  margin-top: -15px;
}
.content-wrapper .player-not-found-wrapper p span {
  display: block;
}
.content-wrapper .player-not-found-wrapper .search-bar-container {
  margin: 0 auto;
  width: 368px;
  display: flex;
  height: 30px;
}
.content-wrapper .player-not-found-wrapper .search-bar-container button {
  color: #2B303A;
}
.content-wrapper .player-not-found-wrapper .search-bar-container .game-dropdown {
  position: relative;
  margin-left: 20px;
  background-color: #F4F4F4;
  height: 30px;
  border: solid 1px grey;
  width: 87px;
  text-align: left;
}
.content-wrapper .player-not-found-wrapper .search-bar-container .game-dropdown .icon {
  position: absolute;
  right: 6px;
}
.content-wrapper .player-not-found-wrapper .search-bar-container .search {
  max-height: 30px;
  padding: 0 7px 0 7px;
  background-color: #F4F4F4;
  border: solid 1px grey;
  border-left: none;
  border-right: none;
  color: #2B303A;
}
.content-wrapper .player-not-found-wrapper .cheeky-dropdown-surround-nav {
  position: relative;
  width: 80px;
  height: 94%;
  background-color: #F4F4F4;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}
.content-wrapper .player-not-found-wrapper .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
  width: 60px;
  height: 22px;
  margin-top: 6px;
  margin-left: 15px;
  font-size: 12px;
  text-align: center;
  background-color: #F4F4F4;
  color: #2B303A;
}
.content-wrapper .player-not-found-wrapper .search-icon {
  background-color: #FC4E51;
  color: #ffffff;
  width: 36px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content-wrapper .player-not-found-wrapper .closest-matches-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  color: #9C9C9D;
  text-transform: uppercase;
}
.content-wrapper .player-not-found-wrapper #similar-results {
  left: 50%;
  margin-left: -194px;
  width: 368px;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  .content-wrapper {
    background: none;
  }
  .content-wrapper .player-not-found-wrapper {
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
  }
  .content-wrapper .player-not-found-wrapper .player-not-found-text1 {
    font-size: 24px;
    color: #2B303A;
    text-align: center;
    margin-top: 40px;
  }
  .content-wrapper .player-not-found-wrapper .player-not-found-text2 {
    font-size: 14px;
    color: #2B303A;
    text-align: center;
    margin-top: 10px;
  }
  .content-wrapper .player-not-found-wrapper .player-not-found-text2p2 {
    font-size: 14px;
    color: #2B303A;
    text-align: center;
    margin-top: -15px;
  }
  .content-wrapper .player-not-found-wrapper p span {
    display: block;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container {
    margin: 0 auto;
    width: 320px;
    display: flex;
    height: 30px;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container button {
    color: #2B303A;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container .game-dropdown {
    position: relative;
    margin-left: 20px;
    background-color: #F4F4F4;
    height: 30px;
    border: solid 1px grey;
    width: 65px;
    text-align: left;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container .game-dropdown .icon {
    position: absolute;
    right: 6px;
  }
  .content-wrapper .player-not-found-wrapper .search-bar-container .search {
    width: 100px;
    max-height: 30px;
    background-color: #F4F4F4;
    border: solid 1px grey;
    border-left: none;
    border-right: none;
    padding: 0 7px 0 7px;
    color: #2B303A;
  }
  .content-wrapper .player-not-found-wrapper .cheeky-dropdown-surround-nav {
    position: relative;
    width: 80px;
    height: 94%;
    background-color: #F4F4F4;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
  }
  .content-wrapper .player-not-found-wrapper .cheeky-dropdown-surround-nav #region-dropdown-nav.uk-form-custom {
    width: 60px;
    height: 22px;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 12px;
    text-align: center;
    background-color: #F4F4F4;
    color: #2B303A;
  }
  .content-wrapper .player-not-found-wrapper .search-icon {
    background-color: #FC4E51;
    color: #ffffff;
    width: 36px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .content-wrapper .player-not-found-wrapper .closest-matches-text {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    color: #9C9C9D;
  }
  .content-wrapper .player-not-found-wrapper #similar-results {
    left: 50%;
    margin-left: -194px;
    width: 368px;
    text-align: center;
  }
}
#player-card-container {
  color: #1F232B;
  display: inline-block;
  width: 300px;
  min-width: 300px;
  height: 350px;
  min-height: 75px;
  margin: 35px 0px 35px 35px;
  border: 1px solid #CDDDDD;
  z-index: 10;
}
#player-card-container .header {
  background-color: #F4F4F4;
  color: #1F232B;
  height: 100px;
}
#player-card-container .avatar {
  position: relative;
  margin-top: 0px;
  margin-left: 75px;
  height: 150px;
  width: 150px;
  border-radius: 25vw;
  z-index: 1;
}
#player-card-container .avatar-surround {
  z-index: 0;
  position: relative;
  margin-top: -155px;
  margin-left: 70px;
  height: 160px;
  width: 160px;
  background-color: #ffffff;
  border-radius: 25vw;
}
#player-card-container .region-tag {
  margin-left: 5px;
  position: relative;
  color: #4E5156;
}
#player-card-container .body {
  margin-top: 80px;
  display: table;
  background-color: #ffffff;
  height: 135px;
  width: 300px;
  vertical-align: middle;
}
#player-card-container .body .username {
  padding-top: px;
  width: 300px;
  display: inline-block;
  margin-left: auto;
  text-align: center;
  font-size: 22px;
  color: #1F232B;
}
#player-card-container .body .review-table {
  width: 200px;
  margin: 0 auto;
}
#player-card-container .body .review-table .review-table-row {
  height: 30px;
}
#player-card-container .body .review-table .review-table-row .review-table-cell {
  color: #4E5156;
  text-align: center;
}
#player-card-container .view-profile {
  margin-top: -3px;
  position: relative;
  font-size: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #4E5156;
  border-bottom: 2px solid #CDDDDD;
  border-top: 2px solid #CDDDDD;
  height: 35px;
}
#player-card-container .uk-button {
  width: 100%;
  height: 100%;
}
.results-list {
  width: 100%;
  height: 100%;
  margin: auto;
}
#review-modal .modal-body {
  width: 450px;
}
#review-modal .modal-title {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
#review-modal p {
  margin: 5px 0 5px 0;
}
#review-modal .thumb-icon {
  width: 20px;
  height: 20px;
}
#review-modal .review-type-container {
  display: flex;
  justify-content: center;
}
#review-modal .up-button {
  width: 48%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 18px 0 0;
}
#review-modal .up-button .text {
  font-weight: bold;
}
#review-modal .down-button {
  width: 48%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#review-modal .down-button .text {
  font-weight: bold;
}
#review-modal .tags-dropdown-container {
  width: 100%;
}
#review-modal .tags-dropdown-container .dropdown-button {
  width: 100%;
  height: 60px;
}
#review-modal .tag-label {
  font-size: 12px;
}
#review-modal .tag-checkbox {
  margin-right: 12px;
}
#review-modal .dropdown-icon {
  position: absolute;
  right: 13px;
  top: 16px;
}
#review-modal .tags-dropdown {
  padding-left: 0;
}
#review-modal .tags-list {
  position: absolute;
  top: 10px;
  left: 35px;
}
#review-modal .tag {
  margin: 0 10px 0 0;
  font-size: 10px;
  padding: 0px 7px 0 13px;
  background-color: #F3EFEF;
}
#review-modal .tag .text {
  margin: 0 5px 0 0;
}
#review-modal .list-elem {
  list-style-type: none;
}
#review-modal .tags-textarea {
  height: 170px;
  padding: 13px 0 0 17px;
  font-size: 12px;
}
#review-modal .review-remaining {
  margin: 10px 0 0 0;
  font-size: 10px;
}
#review-modal .submit {
  width: 100%;
  background-color: #FC4E51;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 17px;
  margin: 16px 0 0 0;
  height: 54px;
}
.lol-summary-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lol-summary-section .first-row {
  display: flex;
}
.lol-summary-section .second-row {
  display: flex;
}
.lol-summary-section .subtitle {
  color: #E4E4E4;
  font-size: 9px;
  padding: 5px 0 22px 0;
}
.card {
  width: 314px;
  min-height: 160px;
  background-color: #242832;
  margin: 0 5px 10px 5px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.58);
}
.card .title {
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;
}
.card .card-body {
  width: 284px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.reviews {
  display: flex;
  width: 100%;
  min-height: 160px;
  background-color: #242832;
  margin: 0 5px 10px 5px;
  padding: 15px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.58);
  flex-direction: column;
}
.reviews .title {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.reviews .actions {
  display: flex;
  position: relative;
}
.reviews .actions .filters {
  width: 130px;
  height: 25px;
  border: 1px solid #ffffff;
  cursor: pointer;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews .actions .filters .selected-filter {
  font-size: 11px;
  color: #ffffff;
  position: absolute;
  left: 5px;
  width: 104px;
}
.reviews .actions .filters .arrow-down {
  width: 9px;
  height: 5px;
  background-image: url('/static/images/arrow_down.svg');
  position: absolute;
  right: 5px;
}
.reviews .review-btn {
  text-transform: uppercase;
  height: 25px;
  color: #ffffff;
  background-color: #FC4E51;
  border: none;
  padding: 0px 12px 0 12px;
  margin-bottom: 30px;
}
.reviews .reviews-list {
  display: flex;
  flex-direction: column;
}
.reviews .reviews-list .no-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews .reviews-list .no-review-container .l1 {
  font-size: 24px;
  margin-top: 24px;
}
.reviews .reviews-list .no-review-container .l2 {
  margin-top: 31px;
  margin-bottom: 18px;
  font-size: 14px;
}
.reviews .reviews-list .no-review-container .l3 {
  font-size: 12px;
  width: 291px;
  text-align: center;
}
.reviews .reviews-list .review-container {
  margin-bottom: 25px;
}
.reviews .reviews-list .review-container .header {
  display: flex;
  position: relative;
}
.reviews .reviews-list .review-container .header .reviewer-img {
  width: 40px;
  height: 40px;
  background-image: url('/static/images/reviewer.svg');
  margin-right: 5px;
}
.reviews .reviews-list .review-container .header .infos .gamertag {
  font-size: 12px;
  color: #ffffff;
}
.reviews .reviews-list .review-container .header .infos .reviewed-at {
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
.reviews .reviews-list .review-container .header .more-alt {
  width: 14px;
  height: 11px;
  background-image: url('/static/images/more-alt.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-y: 4px;
  border: none;
  position: absolute;
  right: 0;
}
.reviews .reviews-list .review-container .tags {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.reviews .reviews-list .review-container .tags .thumbs {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 6px;
}
.reviews .reviews-list .review-container .tags .up {
  background-image: url('/static/images/thumb-up.svg');
}
.reviews .reviews-list .review-container .tags .down {
  background-image: url('/static/images/thumb-down.svg');
}
.reviews .reviews-list .review-container .tags .thumb-desc {
  color: white;
  font-size: 12px;
}
.reviews .reviews-list .review-container .review-body {
  margin-top: 5px;
  font-size: 12px;
  color: #ffffff;
  width: 600px;
}
.horizontal-bar {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
  justify-content: flex-end;
  width: 282px;
}
.horizontal-bar .bar-title {
  font-size: 10px;
  color: #ffffff;
  margin-right: 6px;
}
.horizontal-bar .bar-container {
  width: 240px;
  height: 10px;
  position: relative;
}
.horizontal-bar .bar-container .empty-bar {
  background-color: #2B303A;
  width: 240px;
  height: 10px;
  border-radius: 4px;
}
.horizontal-bar .bar-container .filled-bar {
  background-color: #E4E4E4;
  border-radius: 4px;
  height: 10px;
  width: 0;
  position: absolute;
  top: 0;
  transition: width ease 0.3s;
}
.frequent-champions-container .no-champions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frequent-champions-container .no-champions-container .no-champions-img {
  width: 51px;
  height: 45px;
  margin: 41px 0 0 0;
}
.frequent-champions-container .no-champions-container .no-champions-desc {
  width: 234px;
  color: #A5A2A2;
  font-size: 12px;
  text-align: center;
  margin: 15px 0 100px 0;
  line-height: 1.5;
}
.frequent-champions-container .champions-list-container {
  display: flex;
  flex-direction: column;
}
.frequent-champions-container .champions-list-container .champion-item {
  margin: 0 0 10px 0;
}
.frequent-champions-container .champions-list-container .champion-item .champion-icon {
  border-radius: 29px;
  border: solid 1px #6E6E6E;
  width: 40px;
  height: 40px;
}
.frequent-champions-container .champions-list-container .champion-item .champion-name {
  color: #ffffff;
  font-size: 12px;
  margin: 0 0 0 10px;
}
.ratings-container .ratings-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ratings-container .approvals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ratings-container .approvals-number {
  font-size: 48px;
  color: #ffffff;
  height: 52px;
  margin: 0 0 10px 0;
}
.ratings-container .approvals-text {
  font-size: 12px;
  color: #ffffff;
}
.ratings-container .disapprovals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ratings-container .disapprovals-number {
  font-size: 48px;
  color: #ffffff;
  height: 52px;
  margin: 0 0 10px 0;
}
.ratings-container .disapprovals-text {
  font-size: 12px;
  color: #ffffff;
}
.ratings-container .pie-charts-container {
  display: flex;
  width: 64px;
  height: 70px;
  align-items: flex-end;
  margin-left: 53px;
  margin-right: 36px;
}
.ratings-container .pie-charts-container .approvals-charts {
  width: 30px;
  height: 3px;
  background-color: #314A61;
  margin-right: 2px;
  margin: 0 2px 0 0;
}
.ratings-container .pie-charts-container .disapprovals-charts {
  width: 30px;
  height: 3px;
  background-color: #55353D;
  margin: 0 0 0 2px;
}
.attributes-container .attributes-list {
  display: flex;
}
.attributes-container .attributes-list .tag-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}
.attributes-container .attributes-list .tag-icon {
  width: 54px;
  height: 54px;
  border: solid 1px #6E6E6E;
  border-radius: 40px;
}
.attributes-container .attributes-list .tag-title {
  color: #ffffff;
  font-size: 9px;
  font-weight: bold;
  margin-top: 3px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.ranked-container .ranked-table-header-selector {
  justify-content: flex-start;
}
.ranked-container .ranked-table-header-selector .solo {
  margin-right: 32px;
}
.ranked-container .unranked-img {
  width: 60px;
  height: 58px;
}
.ranked-container .unranked-title {
  color: #A5A2A2;
  font-size: 15px;
  font-weight: bold;
  margin-left: 3px;
  letter-spacing: 0.28px;
}
.ranked-container .ranked-img {
  width: 70px;
  height: 68px;
}
.ranked-container .ranked-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 15px;
}
.ranked-container .ranked-data-container .rank {
  color: #ffffff;
  margin-bottom: 9px;
}
.ranked-container .ranked-data-container .rank .tier {
  text-transform: capitalize;
}
.ranked-container .ranked-data-container .stats {
  color: #ffffff;
}
.ranked-container .ranked-container {
  margin-top: 20px;
  display: flex;
}
.footer-wrapper {
  padding-top: 50px;
  float: none;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #2B303A;
}
.footer-wrapper #footer-text-wrapper {
  position: relative;
  margin-top: 30px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
}
.footer-wrapper #footer-text-wrapper #footer-text {
  margin-bottom: 15px;
  float: left;
  width: 125px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-wrapper #footer-text-wrapper #footer-languages {
  margin-bottom: 15px;
  float: left;
  width: 125px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-wrapper #footer-text-wrapper #footer-social {
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffffff;
}
.footer-wrapper #footer-text-wrapper #footer-social #discord-icon {
  text-decoration: none;
  height: 20px;
  width: 20px;
}
.footer-wrapper #footer-text-wrapper #gs-copyright {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 10px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1290px) {
  .footer-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #2B303A;
  }
  .footer-wrapper #footer-text-wrapper {
    position: relative;
    margin-top: 30px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
  }
  .footer-wrapper #footer-text-wrapper #footer-text {
    float: left;
    width: 125px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }
  .footer-wrapper #footer-text-wrapper #footer-languages {
    margin-bottom: 15px;
    float: left;
    width: 125px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }
  .footer-wrapper #footer-text-wrapper #footer-social {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .footer-wrapper #footer-text-wrapper #footer-social #discord-icon {
    height: 20px;
    width: 20px;
    display: inline;
  }
  .footer-wrapper #footer-text-wrapper #gs-copyright {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  .footer-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #2B303A;
  }
  .footer-wrapper #footer-text-wrapper {
    position: relative;
    margin-top: 30px;
    width: 368px;
    left: 50%;
    margin-left: -184px;
  }
  .footer-wrapper #footer-text-wrapper #footer-text {
    margin-bottom: 15px;
    width: 368px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
  }
  .footer-wrapper #footer-text-wrapper #footer-languages {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 368px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
  }
}
.content-wrapper-fof {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-height: 100%;
  background-color: #ffffff;
}
.content-wrapper-fof .fof-wrapper {
  height: 720px;
  text-align: center;
}
.content-wrapper-fof .fof-wrapper #fof {
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
  color: #2B303A;
}
.content-wrapper-fof .fof-wrapper #fof-invaders {
  margin-top: -20px;
  font-size: 24px;
  font-weight: bold;
  color: #2B303A;
}
.content-wrapper-fof .fof-wrapper #fof-image-wrapper #fof-image {
  width: 368px;
  height: 368px;
}
.content-wrapper-fof .fof-wrapper .uk-button {
  width: 240px;
  background: #2B303A;
}
.gamer-list-wrapper {
  height: 250px;
  margin-top: 50px;
  margin: 0 auto;
  min-width: 250px;
  height: 100%;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}
.gamer-list-wrapper #thumbs-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}
.gamer-list-wrapper .thumb-container {
  display: flex;
  flex-direction: row;
}
.gamer-list-wrapper .thumb-container .thumb-lbl {
  font-size: 10px;
  margin-right: 3px;
}
.gamer-list-wrapper .thumb-container .thumb-up {
  width: 10;
  height: 10;
}
.gamer-list-wrapper #individual-list-item {
  width: 100%;
  height: 50px;
  border-top: 1px solid #d3d3d3;
  display: flex;
  position: relative;
}
.gamer-list-wrapper #individual-list-item #list-avatar {
  float: left;
  height: 50px;
  width: 50px;
}
.gamer-list-wrapper #individual-list-item #list-avatar #list-image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-top: 5px;
}
.gamer-list-wrapper #individual-list-item #list-player-details {
  float: left;
  margin-left: 20px;
}
.gamer-list-wrapper #individual-list-item #list-player-details #list-gamertag {
  font-size: 14px;
  position: absolute;
}
.gamer-list-wrapper #individual-list-item #list-player-details #list-region {
  position: absolute;
  margin-top: 18px;
  font-size: 12px;
}
.content-wrapper-tos {
  height: auto;
  width: 100%;
}
.content-wrapper-tos #tos-top-bar {
  width: 100%;
  height: 66px;
  background-color: #F4F4F4;
}
.content-wrapper-tos #tos-top-bar .title {
  padding: 10px 0 0 11px;
  width: 160px;
  margin: 0;
}
.content-wrapper-tos #tos-top-bar #tos-links-wrapper {
  text-align: center;
  margin-top: -18px;
}
.content-wrapper-tos #tos-top-bar #tos-links-wrapper #tos-links {
  position: inline-block;
}
.content-wrapper-tos #tos-top-bar #tos-links-wrapper #tos-links #terms-link {
  color: #4E5156;
  text-decoration: none;
}
.content-wrapper-tos #tos-top-bar #tos-links-wrapper #tos-links #pp-link {
  color: #4E5156;
  margin-left: 20px;
  text-decoration: none;
}
.content-wrapper-tos #tos-body {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.content-wrapper-tos #tos-body #tos-content {
  display: none;
  margin: 0 auto;
  height: auto;
  margin-top: 35px;
  max-width: 700px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
.content-wrapper-tos #tos-body #pp-content {
  display: none;
  margin: 0 auto;
  margin-top: 35px;
  max-width: 700px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
.content-wrapper-account {
  height: 100%;
  width: 100%;
}
.content-wrapper-account .uk-input {
  height: 50px;
  padding-left: 50px!important;
}
.content-wrapper-account .title {
  padding: 10px 0 0 11px;
  width: 160px;
  margin: 0;
}
.content-wrapper-account .icon {
  width: 50px!important;
  height: 50px!important;
}
.content-wrapper-account #account-top-bar {
  width: 100%;
  height: 66px;
  background-color: #F4F4F4;
}
.content-wrapper-account #account-top-bar #account-links-wrapper {
  text-align: center;
}
.content-wrapper-account #account-top-bar #account-links-wrapper #account-links {
  position: relative;
  height: 24px;
}
.content-wrapper-account #account-top-bar #account-links-wrapper #account-links #settings-link {
  color: #4E5156;
  text-decoration: none;
  border-bottom: 2px solid red;
  margin-bottom: 3px;
  font-size: 17px;
}
.content-wrapper-account #account-top-bar #account-links-wrapper #account-links #cp-link {
  color: #4E5156;
  margin-left: 20px;
  text-decoration: none;
}
.content-wrapper-account #account-body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.content-wrapper-account #account-body h4 {
  margin-top: 10px;
}
.content-wrapper-account #account-body #settings-content {
  margin: 0 auto;
  margin-top: 35px;
  max-width: 500px;
}
.content-wrapper-account #account-body #settings-content p {
  margin-top: -20px;
  font-size: 12px;
  margin-bottom: 20px;
}
.content-wrapper-account #account-body #settings-content .uk-inline {
  width: 100%;
}
.content-wrapper-account #account-body #cp-content {
  display: none;
  margin: 0 auto;
  margin-top: 35px;
  max-width: 700px;
}
.content-wrapper-account #account-body button {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #273043;
}
.content-wrapper-account #account-body .fb-disconnect-btn {
  margin: 0;
  padding: 0;
  border: none;
  background: #ffffff;
  color: #358ED7;
  font-size: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) {
  .content-wrapper-account {
    margin-bottom: 100px;
  }
}
#loader-modal {
  margin: 0;
  padding: 0;
}
#loader-modal .container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
